$color-black: #000000;
$color-violet:#8D889E;
$color-gold:#BEA77A;
$color-rose:#EEA18E;
$color-gray: #DCD9D2;
$color-yellow: #F7B30A;
$color-green: #323B2A;
$color-green-military: #4B5233;
$color-marron: #C0B9A9;
$color-gray-dark: #6F6A66;
$color-gray-lighter: #6E6E76;
$color-blue: #303C5F;