.header__root{
    .ariane__root{
        padding-top: 10px;
        padding-bottom: 8px;
        font-size: 14px;
        max-width: 1020px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        font-family: $font-ars;
        .ariane__item{
            &:after{
                content: " > ";
            }
            a{
                text-decoration: none;
                color: inherit;
                transition: color 0.3s;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .container-full{
        background: url(../images/header-product.jpg) center top no-repeat;
        height: 451px;
    }
    .discover{
        background-color: $color-white;
        width: 856px;
        padding: 0px 64px 20px 64px;
        margin: -134px auto 40px;
        position: relative;
        text-align: center;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.16);
        &--logo{
            margin: -54px auto 30px;
        }
        &--title{
            font-family: $font-ars;
            color: $color-black;
            font-size: 30px;
            line-height: 36px;
            font-weight: bold;
            margin-bottom: 33px;
        }
        &--desc{
            font-family: $font-ars;
            color: $color-black;
            font-size: 15px;
            line-height: 18px;
        }
    }
}

@media #{$notDesktop} {
    .header__root{
        .container-full{
            background: url(../images/header-product-sim.jpg) center top no-repeat;
            height: 190px;
        }
        .discover{
            width: 100%;
            padding: 0px 20px;
            margin: 0px;
            box-shadow: none;
            &--logo{
                max-width: 109px;
                margin: -50px auto 20px;
            }
        }
    }
}