.advent{
	&__root{

	}

	&__container{
		position: relative;
		z-index: 1;
		padding-top:76px;

		&::before{
			content:"";
			position: absolute;
			width: 100%;
			height:350px;
			top:0;
			left: 0;
			background-color: $color-white;
			z-index: 0;
		}
	}

	&__part-calendar{
		position: relative;
		z-index: 10;
	}

	&__part-prod{
		position: relative;
		z-index: 10;
	}
}