.advent{
	&__root{

	}

	&__container{
		position: relative;
		z-index: 1;
		// padding-top:76px;
		padding-top:65px;

		&::before{
			content:"";
			position: absolute;
			width: 100%;
			height:350px;
			top:0;
			left: 0;
			background-color: $color-white;
			z-index: 0;
		}
	}

	&__subcontainer{
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: space-between;
		// align-items: flex-end;
		// max-width:935px;
		align-items: flex-start;
		max-width:946px;
		margin-left:auto;
	}

	&__part-calendar{
		width:515px;
		flex-shrink: 0;

		&.advent__calendars--dec{
			.advent__calendar--decembre{
				right: 0;

				.advent__calendar-name{
					bottom: 0 !important;
				}
			}

			@media #{$desktop}{
				.advent__calendar--novembre .advent__calendar-month:hover .advent__calendar-name{
					bottom:20px;
				}
			}
		}
	}

	&__part-prod{
		width:371px;
		flex-shrink: 0;
		padding-bottom: 45px;
		position: relative;

		&.loading{
			.advent__loader{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__header{
		// height: 286px;
		height: 270px;
		background: url("../images/calendar_top-all.jpg") no-repeat bottom center;
		// background-size: 100% auto;
	}

	&__title{
		text-align: left;
		position: absolute;
		// top:120px;
		top:112px;
		left: 180px;
		text-indent:-60px;
		z-index: 100;

		b{
			white-space: nowrap;
		}
	}

	&__title-br{
		display: none;
	}

	&__calendars{
		background-color: $color-white;
		position: relative;
		overflow-x: hidden;
		box-shadow: 0 3px 6px rgba($color-black, 0.16);
	}

	&__calendar{
		background-color: #E5D7BB;
		display: flex;
		padding:30px 0 15px;
		color:$color-white;
		width:calc(100% - 50px);
		z-index: 1;
		position:relative;

		&--novembre{
			background-color: #E5D7BB;
		}

		&--decembre{
			background-color: $color-gold;
			position: absolute;
			z-index: 2;
			top: 0;
			right: calc(-100% + 100px);
			height: 100%;
			transition: right 0.5s;
			transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
			box-shadow: 0 3px 6px rgba($color-black, 0.16);

			@media #{$desktop}{
				.advent__calendar-month:hover .advent__calendar-name{
					bottom:20px;
				}
			}
		}
	}

	&__calendar-month{
		position: relative;
		width: 51px;
		flex-shrink: 0;
		border-right:1px solid $color-white;
		margin-right: 30px;
		cursor: pointer;
	}

	&__calendar-name{
		position: absolute;
		font-weight:bold;
		font-size:21px;
		font-family: $font-ars;
		bottom:0;
		left:50%;
		transform-origin: left center;
		transform: translateY(50%) rotate(270deg);
		transition: bottom 0.3s;
	}

	&__calendar-container{
		flex-grow: 1;
		padding-right:10px;
		font-family: $font-ars;
		font-weight:bold;
	}

	&__calendar-day{
		font-size:21px;
		line-height: 25px;
	}

	&__calendar-table{
		width: calc(100% + 14px);
		margin-left:-14px;
		text-align: center;

		td{
			position: relative;
			color:$color-white;
			font-size:18px;
			line-height: 22px;
			font-family: $font-ars;
			// padding: 12px 0;
			padding: 9px 0;
			cursor:pointer;

			&::before{
				content:"";
				position: absolute;
				height: 34px;
				width: 34px;
				background-color: $color-black;
				border-radius: 50%;
				top: calc(50% - 16px);
				left: calc(50% - 17px);
				opacity: 0;
				transition: opacity 0.3s;
			}

			&::after{
				content:"";
				position: absolute;
				height: 34px;
				width: 34px;
				border:1px solid $color-white;
				border-radius: 50%;
				top: calc(50% - 16px);
				left: calc(50% - 17px);
				transition: opacity 0.3s;
				z-index: 0;
				opacity: 0;
			}

			span{
				position: relative;
				z-index: 10;
			}

			@media #{$desktop}{
				&[data-date]:hover{
					&::after{
						opacity: 1;
					}
				}
			}
		}

		thead td,
		td:empty,
		td.day-current,
		td.day-future,
		td.day-none{
			cursor: default;
			&::after{
				display: none !important;
			}
		}
	}

	&__prod-item{
		text-align: center;
		opacity: 1;
		top:0;
		position: relative;
		transition: opacity 0.4s, top 0.4s;

		&--new,
		&--old{
			width: 100%;
			position: absolute;
			top:30px;
			left: 0;
			opacity: 0;
		}

		&--old{
			top:-30px;
		}
	}

	&__prod-container{
		max-width: 93%;
		margin: 0 auto;
	}

	&__prod-subcontainer{
		position: relative;
		height: 0;
		padding-bottom: 100%;
	}

	&__prod-img{
		display: block;
		position: absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
	}

	&__prod-name{
		margin-top:10px;
		font-size:19px;
		font-family: $font-ars;

		&::after{
			content:"";
			display: block;
			width:67px;
			height:2px;
			background-color: $color-gold;
			margin:15px auto;
		}
	}

	&__prod-desc{
		font-size:17px;
		line-height: 20px;
		max-width: 350px;
		margin: 0 auto;
	}

	&__prod-price{
		margin-top: 22px;
		font-family: $font-ars;
		font-weight: 800;
	}

	&__prod-old-price{
		font-size: 16px;
		line-height: 13px;
		position: relative;

		&::before{
			content:"";
			height: 2px;
			width:100%;
			position: absolute;
			top:50%;
			left:-5px;
			background-color: rgba(#434A4E, 0.9);
			transform: translateY(-50%) rotate(-16deg);
		}

		> sup {
			position: relative;
			top: 1px;
			font-size: 70%;
			vertical-align: text-top;

			@media #{$small} {
				top:2px;
			}
		}
	}

	&__prod-new-price{
		display: block;
		font-size: 22px;
		line-height: 16px;

		> sup {
			position: relative;
			top: 1px;
			font-size: 70%;
			vertical-align: text-top;

			@media #{$small} {
				top:2px;
			}
		}
	}

	&__prod-bottom{
		margin-top: 25px;

		.btn{
			box-shadow: 3px 3px 4px rgba($color-black, 0.2);
		}
	}

	&__loader{
		position: absolute;
		text-align: center;
		z-index: 10;
		top:150px;
		left: 0;
		width: 100%;
		font-size: 20px;
		color:red;
		background-color: $color-white;
		font-weight: bold;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s, visibility 0.3s;
	}
}

td.day{
	&-christmas{
		color:$color-black;
		font-weight: 400;
		position: relative;

		&::before{
			content:"";
			position: absolute;
			height: 34px;
			width: 34px;
			border:1px solid $color-black;
			border-radius: 50%;
			top: calc(50% - 16px);
			left: calc(50% - 17px);
			opacity:1;
			background-color:transparent;
		}
	}

	&-current{
		color:$color-white;
		position: relative;

		&::before{
			opacity:1;
		}
	}

	&-future{
		font-weight: 400;
		opacity: 0.73;
	}

	&-none{
		font-weight: 400;
		opacity: 0.3;
	}
}

@media (max-width:910px){
	.advent{
		&__part-calendar{
			width:405px;
			background-color: #E5D7BB;
			transition: background-color 0.3s;

			&.advent__calendars--dec{
				background: $color-gold;
				.advent__calendar--novembre{
					z-index: 0;
					top: 49px;
				}
				.advent__calendar--decembre{
					z-index: 10;
					top: 0;
				}
			}
		}

		&__header{
			height: 205px;
		}

		&__title{
			top:55px;
			left: 130px;
		}

		&__calendars{
			padding-bottom: 49px;
			box-shadow: none;
			overflow: inherit;
			background-color: transparent;
		}

		&__calendar{
			width:100%;
			flex-direction: column;
			padding: 30px 25px 0;
			box-shadow: 0 3px 6px rgba($color-black, 0.16);

			&--novembre {
				position: relative;
				z-index: 10;
				top: 0;
				transition:top 0.3s;
			}

			&--decembre{
				right: 0;
				height:calc(100% - 49px);
				top: 49px;
				z-index: 0;
				transition:top 0.3s;
				//transition: right 0.5s;
			}
		}

		&__calendar-table {
		    width: calc(100% + 10px);
		    margin-left: -10px;
		}

		&__calendar-month{
			width:100%;
			border-top:1px solid $color-white;
			border-right:0 none;
			margin-right: 0;
			margin-top:25px;
			order:2;
			text-align: right;
			padding:12px 0 13px;
		}

		&__calendar-name{
			position: relative;
			bottom:0;
			left:0;
			transform: none;
		}

		&__calendar-container{
			padding-right:0;
			order:1;
		}
	}
}
@media (max-width:810px){
	.advent{
		&__part-calendar{
			width:percentage(405px/780px);
		}

		&__part-prod{
			width:percentage(360px/780px);
		}

		&__header{
			height: 0;
			padding-bottom:percentage(205px/405px);
		}

		&__title{
			top: 6%;
			left: 14%;
		}
	}
}

@media #{$mobile}{
	.advent{
		&__root{

		}

		&__container{
			padding-top:0;

			&::before{
				display: none;
			}
		}

		&__subcontainer{
			display: block;
			max-width: 580px;
			margin: 0 auto;
		}

		&__part-calendar{
			width:100%;
		}

		&__part-prod{
			width:100%;
		}

		&__header{
			padding-bottom: 0;
			height: auto;
			background: none;
		}

		&__title{
			position: relative;
			text-align: center;
			top:0;
			left:0;
			transform: translateY(-18%);
		}

		&__title-br{
			display: inline;
		}

		&__calendar {
		    padding: 0 percentage(50px/580px);
		}

		&__calendar-month{
			margin-top:percentage(30px/580px);
			// padding:12px 0 13px;
		}

		&__calendar-container{

		}

		&__calendar-day{
			@include fs(32);
			@include lh(43);
		}

		&__calendar-table{

			td{
				@include fs(24);
				@include lh(32);
				padding: 10px 0;

				&::after{
					height: 42px;
					width: 42px;
					top: calc(50% - 20px);
					left: calc(50% - 21px);
				}
			}
		}

		&__calendar-name{
			@include fs(25);
			line-height: 24px;
		}

		&__part-prod{
			margin-bottom: -35px;
			padding-bottom: 0;
			margin-top: percentage(30px/580px);
		}

		&__prod-img{
			max-width: 468px;
			margin-left:auto;
			margin-right:auto;
		}

		&__prod-name{
			@include fs(30);
		}

		&__prod-desc{
			@include fs(26);
			@include lh(31);
			max-width: 550px;
		}

		&__prod-price{
			margin-top: percentage(26px/580px);
		}

		&__prod-old-price{
			@include fs(25);
			@include lh(20);
		}

		&__prod-new-price{
			@include fs(40);
			@include lh(30);
		}

		&__prod-bottom{
			margin-top: percentage(35px/580px);
		}
	}

	td.day{
		&-christmas,
		&-current{
			&::before{
				height: 42px;
				width: 42px;
				top: calc(50% - 20px);
				left: calc(50% - 21px);
			}
		}
	}
}
@media #{$small}{
	.advent{
		&__calendar {
		    padding: 0 percentage(30px/420px);
		}

		&__calendar-table{
			td{
				@include fs(28);
				@include lh(32);

				&::after{
					height: 38px;
					width: 38px;
					top: calc(50% - 19px);
					left: calc(50% - 19px);
				}
			}
		}

		&__calendar-name{
			@include fs(32);
		}

		&__part-prod{
			margin-bottom: -45px;
		}
	}

	td.day{
		&-christmas,
		&-current{
			&::before{
				height: 38px;
				width: 38px;
				top: calc(50% - 19px);
				left: calc(50% - 19px);
			}
		}
	}
}
@media (max-width:400px){
	.advent__calendar-table td::after,
	td.day-christmas::before,
	td.day-current::before{
		height: 32px;
		width: 32px;
		top: calc(50% - 15px);
		left: calc(50% - 16px);
	}
}
