.advent{
	&__root{

	}

	&__container{
		position: relative;
		z-index: 0;
		background-color: $color-white;
		padding-top:76px;
	}

	&__part-calendar{
		position: relative;
		z-index: 10;
	}

	&__part-prod{
		position: relative;
		z-index: 10;
	}
}