.app{
	&__back-img{
		position: relative;
		background:url("../images/app_back.jpg") no-repeat center center;
		background-size: cover;

		&::before{
			position: absolute;
			content:"";
			z-index: 0;
			width:100%;
			height:100%;
			left:0;
			top:0;
			background-color: rgba($color-black, 0.5);
		}
	}

	&__back-img{
		padding: 75px 0 35px;
	}

	&__container{
		position: relative;
		z-index: 10;
		color:$color-white;
		display: flex;
		justify-content: space-between;
	}

	&__part-img{
		width:percentage(407px/1000px);
		position: relative;
	}

	&__phone{
		position: absolute;

		&--01{
			left: -10px;
			bottom:-100px;
		}

		&--02{
			right: 0;
			bottom:-180px;
		}
	}

	&__part-content{
		width:percentage(568px/1000px);
	}

	&__title{
		text-align: left;
		text-indent: 40px;
	}

	&__text{
		margin-top: 50px;
	}

	&__phrase{
		font-size: 20px;
		max-width: 450px;
	}

	&__bottom{
		position: relative;

		&::before{
			content:"";
			background-color: #f2f2f2;
			width: 50vw;
			position: absolute;
			height: 100%;
			left: 50%;
			right: 50%;
			margin-right: -50vw;
			top:0;
			z-index: 0;
		}

		&::after{
			content:"";
			background-color: #f2f2f2;
			width: percentage(250px/1000px);
			max-width: 250px;
			position: absolute;
			height: 100%;
			right: 50%;
			z-index: 0;
			top:0;
		}
	}

	&__bottom-block{
		width:percentage(568px/1000px);
		margin-left: auto;
		display: flex;
		align-items: center;
		padding:25px 0;
		position: relative;
		z-index: 10;
	}

	&__btn{
		order:1;

		@media #{$desktop}{
			&:hover{
				background-color:transparent;
			}
		}
	}

	&__store{
		text-decoration: none;
		margin-left:45px;
		display: block;
		order:2;

		& + &{
			margin-left:20px;
		}
	}

	&__store-img{
		display: block;
	}

	&__small-bottom{
		display: none;
		text-align: center;
		margin-top: 30px;
		position: relative;
		z-index: 20;
	}
}
@media (max-width:900px){
	.app{
		&__phone--02{
			right: -15px;
		}

		&__btn{
			display: none;
		}

		&__store{
			margin-left:0px;
		}

		&__small-bottom{
			display: block;
		}
	}
}
@media (max-width:750px){
	.app{
		&__part-img{
			width: 300px;
			height: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		&__phone{
			&--01{
				bottom: auto;
				top: 100px;
			}

			&--02{
				right: -40px;
				bottom: auto;
				top: 151px;
			}
		}

		&__part-content{
			width:100%;
		}

		&__title{
			text-align: center;
			text-indent: 0;
		}

		&__text{
			margin-left: 300px;
		}

		&__bottom-block{
			width:calc(100% - 300px);
		}

		&__small-bottom{
			margin-top: 40px;
		}
	}
}
@media #{$mobile}{
	.app{
		&__back-img{
			padding: percentage(90px/640px) 0 percentage(50px/640px);
		}

		&__part-img{
			width: percentage(320px/610px);
		}

		&__phone{
			&--01{
				width:percentage(261px/320px);
				height: auto;
				top: 38%;
				left:0;
			}

			&--02{
				width:percentage(267px/320px);
				height: auto;
				right: -6%;
				top: 66%;
			}
		}

		&__text{
			width: percentage(290px/610px);
			margin-left:auto;
			margin-top: percentage(30px/610px);
		}

		&__subtitle{
			@include fs(26);
		}

		&__phrase{
			@include fs(24);
		}

		&__bottom-block{
			width:percentage(290px/610px);
			display: block;
			padding:percentage(25px/610px) 0;
		}

		&__store{
			width:percentage(180px/290px);
			min-width: 120px;

			& + &{
				margin-left:0;
				margin-top:percentage(12px/290px)
			}
		}

		&__store-img{
			width: 100%;
			height: auto;
		}

		&__small-bottom{
			margin-top: percentage(60px/610px);
		}
	}
}

@media (max-width:400px){
	.app{
		&__root{
			& + .mag__root{
				padding-top:35%;
			}
		}

		&__back-img{
			padding: percentage(60px/400px) 0 percentage(70px/400px);
		}

		&__part-img{
			width: 100%;
			top:100%;
		}

		&__phone{
			&--01{
				width:percentage(178px/320px);
				top: 2%;
				left:percentage(-86px/320px);
			}

			&--02{
				width:percentage(176px/320px);
				right: 50%;
				top: 28%;
			}
		}

		&__text{
			width: 100%;
			margin-top: percentage(40px/400px);
		}

		&__subtitle{
			@include fs(32);
		}

		&__phrase{
			@include fs(30);
		}

		&__bottom::after{
			width: 50%;
		}

		&__bottom-block{
			width:percentage(170px/320px);
			padding:percentage(20px/400px) 0;
		}

		&__store{
			width: 100%;
			max-width:150px;

			& + &{
				margin-top:percentage(20px/290px)
			}
		}

		&__btn{
			display: block;
			margin-top:percentage(20px/290px);
			padding-top: 14px;
			padding-bottom: 14px;
			max-width:150px;
		}

		&__small-bottom{
			display: none;
		}
	}
}