.footer{
	&__root{
		background-color:$color-back-back;
		padding:70px 0 60px;
		position: relative;
		z-index: 10;
	}

	&__text{
		color:$color-white;
		font-family: $font-ars;
		font-size:30px;
		line-height:32px;
		text-align: center;
	}
}

.seo{
	&__root{
		padding:40px 0;
	}

	&__text{
		font-size:13px;
		line-height: 16px;

		p + p::before{
			content:"\00a0";
			display: block;
			width:100%;
		}

		a{
			color:inherit;
		}
	}
}

@media #{$mobile}{
	.footer{
		&__root{
			padding:percentage(70px/640px) 0 percentage(60px/640px);
		}

		&__text{
			@include fs(40);
			@include lh(43);
		}
	}
}