.header {
    &__root {
    	position: relative;

// padding-top: 70px;
    	padding-top: 60px;
    	padding-bottom: 250px;
    	background-color: $color-black;

    	&::before {
    		position: absolute;
    		top: 0;
    		left: 0;
    		z-index: 0;
    		width: 100%;
    		height: 100%;
    		max-height: 955px;
    		content: "";
    		background: url("../images/header.jpg") no-repeat center center;
    		background-size: cover;
    	}

    	&::after {
    		position: absolute;
    		top: 0;
    		left: 0;
    		z-index: 0;
    		width: 100%;
    		height: 100%;
    		content: "";
    		background-color: rgba($color-black, 0.5);
    	}

    	& + .advent__root {
    		margin-top: -250px;

    		.advent__container::before {
    			border-radius: 20px 20px 0 0;
    		}
    	}
    }

    &__container {
    	position: relative;
    	z-index: 10;

// padding-bottom: 90px;
    	padding-bottom: 60px;
    }

    &__title {
    	// font-size: 76px;
    	font-size: 70px;
    	font-weight: 800;
    	// line-height: 1.2;
    }

    &__cta-container {
    	position: relative;
    	justify-content: flex-end;
    	display: flex;
    	padding: 0 30px;

// margin-top: 100px;
    	margin-top: 55px;

    	&::before {
    		position: absolute;
    		top: 0;
    		right: 30px;
    		width: calc(95% - 30px - 30px);
    		height: 100%;
    		max-width: 836px;
    		content: "";
    		background-color: rgba($color-black, 0.7);
    		box-shadow: 10px 10px 20px rgba($color-black, 0.82);
    		border-radius: 10px;
    	}
    }

    &__cta-item {
    	position: relative;
    	align-items: center;
    	z-index: 10;
    	display: flex;
    	width: 100%;
    	padding: 42px 15px;
    }

    &__cta-text {
    	color: $color-white;
    	font-family: $font-ars;
    	font-size: 28px;
    	font-weight: 700;
    	text-align: center;
    }

    &__cta-img-container {
    	position: relative;
    	align-self: flex-end;
    	flex-grow: 1;
    	flex-shrink: 0;
    	width: 10%;
    }

    &__cta-img {
    	position: absolute;
    	right: -110px;
    	bottom: -44px;
    }

    &__cta-btn-container {
    	flex-grow: 1;
    	flex-shrink: 0;
    	width: 10%;
    	text-align: center;
    }

    &__cta-btn {
    }
}

@media (max-width:1030px) {
    .header {
    	&__root {
    		padding-bottom: 0;

    		& + .advent__root {
    			margin-top: 0;

    			.advent__container::before {
    				border-radius: 0;
    			}
    		}
    	}
    }
}

@media #{$tablet} {
    .header {
    	// &__root {
    	// 	padding-top: 60px;
    	// }

    	&__container {
    		padding-bottom: 30px;
    	}

    	&__cta-item {
    		display: block;
    		max-width: 500px;
    		padding: 22px 15px;
    	}


    	&__cta-img-container {
    		position: absolute;
    		right: 300px;
    		bottom: -18px;
    		width: auto;
    	}

    	&__cta-img {
    		position: relative;
    		right: 0;
    		bottom: 0;
    		display: block;
    	}

    	&__cta-btn-container {
    		width: auto;
    		margin-top: 16px;
    	}
    }
}

@media #{$mobile} {
    .header {
    	&__root {
    		padding-top: percentage(60px/640px);
    		padding-bottom: percentage(280px/640px);

    		&::before {
    			max-height: 1231px;
    			background: url("../images/header-sim.jpg") no-repeat center center;
    			background-size: cover;
    		}


    		& + .advent__root {
    			margin-top: percentage(-200px/640px);
    		}
    	}

    	&__container {
    		padding-bottom: 0;
    	}

    	&__title {
    		@include fs(74);
    	}

    	&__cta-container {
    		padding: 0 15px;
    		margin-top: percentage(260px/610px);

    		&::before {
    			right: 15px;
    			width: calc(100% - 15px - 15px);
    			content: "";
    		}
    	}

    	&__cta-item {
    		max-width: none;
    		padding: percentage(95px/580px) 10px percentage(45px/580px);
    	}

    	&__cta-text {
    		@include fs(36);
    	}

    	&__cta-img-container {
    		position: relative;
    		right: 0;
    		bottom: 0;
    		width: 100%;
    	}

    	&__cta-img {
    		position: absolute;
    		right: 0;
    		bottom: 0;
    		width: 100%;
    	}

    	&__cta-btn-container {
    		width: 100%;
    		margin-top: percentage(40px/560px);
    	}

    	&__cta-btn {
    	}
    }
}

#filAriane {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    width: 100%;
	font-size: 11px;
    transform: translateX(-50%);

    @media #{$notMobile} {
    	ul {
    		margin-left: 13px;
    	}
    }

    li {
    	display: inline-block;
    	&:not(:first-child):before {
    		margin: 0 5px;
    		content: ">";
    	}
    	a,
    	&::before {
    		display: inline-block;
    		color: $color-white;
    	}
    }
}
.header__cta-btn{
	transition:transform 0.3s;
	&:hover{
		transform: scale(1.1);
	}
}
