.mag{
	&__root{
		padding:140px 0 90px;
	}

	&__container{
		position: relative;
		z-index: 10;
		display: flex;
		max-width: 956px;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__part-content{
		width: percentage(485px/956px);
		flex-shrink: 0;
	}

	&__title{
		text-align: left;
		text-indent: percentage(52px/485px);
	}

	&__content{
		margin-top: 60px;
		padding-left:percentage(52px/485px);
	}

	&__text{
		font-size:20px;
		padding-bottom:20px;
	}

	&__part-find{
		width: percentage(410px/956px);
		flex-shrink: 0;
		position: relative;
	}

	&__photo{
		display: block;
		box-shadow: 3px 3px 6px rgba($color-black, 0.2);
		width: 100%;
	}

	&__bottom{
		background-color: $color-orange;
		box-shadow: 3px 3px 6px rgba($color-black, 0.2);
		border-radius: 0 0 0 20px;
		padding:24px 28px;
		text-align: right;
		margin-top:3px;
	}

	&__map{
		position: absolute;
		top: 39%;
		left: 2.5%;
		width:percentage(169px/410px);
	}
}
@media (max-width:850px){
	.mag{
		&__bottom{
			text-align: center;
		}

		&__map{
			display: none;
		}
	}
}
@media #{$mobile}{
	.mag{
		&__root{
			padding:percentage(90px/640px) 0 percentage(50px/640px);
		}

		&__container{
			display: block;
		}

		&__part-content{
			width: 100%;
		}

		&__title{
			text-align: center;
			text-indent: 0;
		}

		&__content{
			margin-top: percentage(50px/610px);
			padding-left:0;
		}

		&__text{
			@include fs(26);
			padding-bottom:0;
		}

		&__part-find{
			width: 100%;
			margin-top: percentage(40px/610px);
		}

		&__photo{
			width: 100%;
		}

		&__bottom{
			padding:24px percentage(28px/610px);
			text-align: right;
		}

		&__map{
			display: block;
			position: absolute;
			top: 39%;
			left: 2.5%;
			width:percentage(169px/410px);
			transform: none;
		}
	}
}
@media #{$small}{
	.title{

	}

	.mag{
		&__bottom{
			text-align: center;
		}

		&__map{
			display: none;
		}
	}
}
