.service {
    &__root {
    	position: relative;
    	z-index: 10;
    	padding: 60px 0 30px;
    	background-color: $color-back-grey;
    }

    &__container {
    	position: relative;
    	justify-content: center;
    	z-index: 10;
    	display: flex;
    	margin-top: 50px;
    	margin-bottom: -25px;
    	margin-left: -25px;
    }

    &__item {
    	display: flex;
    	width: calc(20% - 25px);
    	min-height: 250px;
    	margin-bottom: 25px;
    	margin-left: 25px;
    	background-color: $color-white;
    	box-shadow: 7px 7px 20px rgba($color-black,0.1);
    	border-radius: 5px;
    	transition: transform 0.4s;

    	@media #{$desktop} {
    		&:hover {
    			transform: scale(1.1);
    			transition: transform 0.2s;
    		}
    	}
    }

    &__block {
    	align-items: center;
    	flex-direction: column;
    	display: flex;
    	width: 100%;
    	padding: 30px 8px 18px;
    	color: $color-black;
    	text-align: center;
    	text-decoration: none;
    }

    &__picto {
    	display: block;
    	width: auto;
    	height: 100px;
    }

    &__separ {
    	width: 67px;
    	height: 1px;
    	margin: 23px 0 13px;
    	background-color: #868686;
    }

    &__name {
    	font-family: $font-ars;
    	font-size: 20px;
    	line-height: 23px;
    }

    &__bottom {
    	margin-top: 40px;
    	font-size: 12px;
    	text-align: right;
    }
}

.service {
    &__item {
    	.service {
    		&__picto {
    			order: 1;
    		}
    		&__separ {
    			order: 2;
    		}
    		&__block {
    			&::before {
    				flex-grow: 1;
    				order: 3;
    				content: "";
    			}
    			&::after {
    				flex-grow: 1;
    				order: 5;
    				content: "";
    			}
    		}
    		&__name {
    			order: 4;
    		}
    	}
    }
}

@media (max-width:900px) {
    .service {
    	&__container {
    		flex-wrap: wrap;
    		max-width: 815px;
    		margin-right: auto;
    		margin-left: auto;
    	}

    	&__item {
    		width: calc(33.3333% - 25px);
    		max-width: 180px;
    	}

    	&__bottom {
    		text-align: center;
    	}
    }
}

@media #{$mobile} {
    .service {
    	&__root {
    		padding: percentage(55px/640px) 0 percentage(40px/640px);
    	}

    	&__container {
    		margin-top: percentage(60px/640px);
    		margin-bottom: -30px;
    		margin-left: -30px;
    	}

    	&__item {
    		width: calc(50% - 30px);
    		max-width: 260px;
    		min-height: 240px;
    		margin-bottom: 30px;
    		margin-left: 30px;
    		border-radius: 1.608vw;

    		&--sim-col {
    			width: 100%;
    			max-width: #{260+30+260}px;
    			min-height: 0;

    			.service__block {
    				flex-direction: row;
    				padding: percentage(40px/550px) 8px;

    				&::before {
    					order: 1;
    				}
    			}

    			.service__separ {
    				width: 1px;
    				height: 95px;
    				margin: 0 percentage(38px/550px) 0 percentage(45px/550px);
    			}

    			.service__picto {
    				order: 2;
    				width: 32.5%;
    			}
    		}
    	}

    	&__block {
    		padding: percentage(45px/260px) 8px percentage(30px/260px);
    	}

    	&__picto {
    		width: 75.2%;
    		height: auto;
    	}

    	&__separ {
    		margin: percentage(35px/260px) 0 percentage(20px/260px);
    	}

    	&__name {
    		@include fs(29);

@include lh(33);
    	}

    	&__bottom {
    		margin-top: percentage(50px/610px);
    	}
    }
}

@media #{$small} {
    .service {
    	&__container {
    		margin-bottom: -20px;
    		margin-left: -20px;
    	}

    	&__item {
    		width: calc(50% - 20px);
    		min-height: 200px;
    		margin-bottom: 20px;
    		margin-left: 20px;

    		&--sim-col {
    			width: 100%;
    			min-height: 0;
    		}
    	}
    }
}
