
@keyframes fadein {
    from {
    	opacity: 0;
    }
    to {
    	opacity: 1;
    }
}

.page__content__root {
    .btn-orange {
    	display: table;
    	min-width: 200px;
    	padding: 7px 30px;
    	margin: 0 auto;
    	color: $color-white;
    	font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    	font-size: 13px;
    	font-weight: 700;
    	line-height: 18px;
    	text-align: center;
    	text-decoration: none;
    	background-color: $color-orange;
    	border-radius: 4px;
    	transition-duration: 0.3s;
    	transition-property: all;

		&--inline{
			display: inline-block;
			min-width: 135px;
			margin: 10px 5px 0 0;
		}

    	&:hover {
    		background-color: rgba(255, 92, 0, 0.8);
    	}
    }
    .page__content__row {
    	display: flex;
    	max-width: 1030px;
    	margin: 40px auto;
    	.page__content__column {
    		flex: 1 1 0;
    		flex-wrap: wrap;
    		margin: 15px;
    		.content-text {
    			font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    			h2 {
    				padding-bottom: 10px;
    				color: $color-saumon;
    				font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    				font-size: 28px;
    				font-weight: bold;
    				line-height: 32px;
    				text-transform: uppercase;
    			}
    			h3 {
    				color: $color-saumon;
    				font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    				font-size: 21px;
    				font-weight: bold;
    				line-height: 24px;
    			}
    			h4 {
    				color: $color-grey;
    				font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    				font-size: 18px;
    				font-weight: bold;
    				line-height: 21px;
    			}
    			p {
    				padding-bottom: 16px;
    				color: $color-grey;
    				font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    				font-size: 14px;
    				line-height: 24px;
    			}
    			&.bgcolor {
    				padding: 18px 21px 8px 22px;
    				margin-bottom: 16px;
    				background-color: rgba(224, 181, 141, 0.2);
    				p {
    					line-height: 19px;
    				}
    			}
    			&.visuel {
    				text-align: right;
    				a {
    					display: inline-block;
    					padding-top: 4px;
    					color: $color-grey;
    					font-size: 12px;
    				}
    				.overlay-blanc {
    					padding: 0;
    					font-size: 1px;
    					line-height: 1px;
    					transition-duration: 0.3s;
    					transition-property: all;
    					img {
    						transition-duration: 0.3s;
    						transition-property: all;
    					}
    					&:hover {
    						background-color: $color-black;
    						img {
    							opacity: 0.8;
    							filter: alpha(opacity=80); /* For IE8 and earlier */
    						}
    					}
    				}
    			}
    		}
    	}
    }
    .underline {
    	text-decoration: underline;
    }
    .bld {
    	font-weight: 700;
    }
    .show-mobile {
    	display: none;
    }
    /* Player youtube light */
    .youtube-player {
    	position: relative;
    	height: 0;
    	max-width: 100%;
    	padding-bottom: 56.23%;
    	margin: 5px;
    	overflow: hidden;
    	background: #000000;
    }
    .youtube-player iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 100;
    	width: 100%;
    	height: 100%;
    	background: transparent;
    }
    .youtube-player img {
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	display: block;
    	width: 100%;
    	height: auto;
    	max-width: 100%;
    	margin: auto;
    	border: none;
    	transition: 0.4s all;
    	-webkit-transition: 0.4s all;
    	-moz-transition: 0.4s all;
    	cursor: pointer;
    }
    .youtube-player img:hover {
    	-webkit-filter: brightness(75%);
    }
    .youtube-player .play {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	width: 72px;
    	height: 72px;
    	margin-top: -36px;
    	margin-left: -36px;
    	background: url("../images/play.svg") no-repeat;
    	cursor: pointer;
    }
}

@media #{$notDesktop} {
    .page__content__root {
    	.page__content__row {
    		margin: 40px auto;
    		.page__content__column {
    			margin: 15px;
    			.content-text {
    				h2 {
    					font-size: 22px;
    					line-height: 28px;
    				}
    				h3 {
    					font-size: 17px;
    					line-height: 21px;
    				}
    				h4 {
    					font-size: 15px;
    					line-height: 19px;
    				}
    				p {
    					padding-bottom: 16px;
    					font-size: 12px;
    					line-height: 20px;
    				}
    				&.bgcolor {
    					padding: 18px 21px 8px 22px;
    					margin-bottom: 16px;
    					p {
    						line-height: 15px;
    					}
    				}
    				&.visuel {
    					text-align: center;
    					img {
    						width: 100%;
    					}
    					a {
    						display: block;
    						padding-top: 4px;
    						font-size: 12px;
    						text-align: right;
    					}
    				}
    			}
    		}
    	}
    }
}

@media #{$mobile} {
    .page__content__root {
    	.page__content__row {
    		flex-wrap: wrap;
    		margin: 40px auto;
    		.page__content__column {
    			flex: 1 95%;
    			margin: 15px;
    			.content-text {
    				h2 {
    					padding-bottom: 10px;
    					font-size: 28px;
    					line-height: 32px;
    				}
    				h3 {
    					font-size: 21px;
    					line-height: 24px;
    				}
    				h4 {
    					font-size: 18px;
    					line-height: 21px;
    				}
    				p {
    					padding-bottom: 16px;
    					font-size: 14px;
    					line-height: 24px;
    				}
    				&.bgcolor {
    					padding: 18px 21px 8px 22px;
    					margin-bottom: 16px;
    					p {
    						line-height: 19px;
    					}
    				}
    				&.visuel {
    					text-align: center;
    					img {
    						width: 100%;
    					}
    					a {
    						display: block;
    						padding-top: 4px;
    						font-size: 12px;
    						text-align: right;
    					}
    				}
    			}
    		}
    	}
    	.hide-mobile {
    		display: none;
    	}
    	.show-mobile {
    		display: block;
    	}
    }
}
@media #{$small} {
    .page__content__root {
    	.page__content__row {
    		flex-wrap: wrap;
    		margin: 20px auto;
    		.page__content__column {
    			flex: 1 95%;
    			margin: 15px;
    			.content-text {
    				.btn-orange {
    					display: inline-block;
    					width: 100%;
    				}
    				h2 {
    					font-size: 20px;
    					line-height: 25px;
    				}
    				h3 {
    					font-size: 17px;
    					line-height: 21px;
    				}
    				h4 {
    					font-size: 15px;
    					line-height: 19px;
    				}
    				p {
    					padding-bottom: 16px;
    					font-size: 12px;
    					line-height: 20px;
    				}
    				&.bgcolor {
    					padding: 18px 21px 8px 22px;
    					margin-bottom: 16px;
    					p {
    						line-height: 15px;
    					}
    				}
    				&.visuel {
    					text-align: center;
    					img {
    						width: 100%;
    					}
    					a {
    						display: block;
    						padding-top: 4px;
    						font-size: 12px;
    						text-align: right;
    					}
    				}
    			}
    		}
    	}
    }
}
