
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/content/static/bcom/common/fonts/OpenSansLight-latin.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/content/static/bcom/common/fonts/OpenSansLight-latin.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'), local('OpenSans-Light'), url('/content/static/bcom/common/fonts/OpenSansLight-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/content/static/bcom/common/fonts/OpenSans-latin.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/content/static/bcom/common/fonts/OpenSans-latin.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Regular'), local('OpenSans-Regular'), url('/content/static/bcom/common/fonts/OpenSans-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('/content/static/bcom/common/fonts/OpenSansSemiBold-latin.eot');
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('/content/static/bcom/common/fonts/OpenSansSemiBold-latin.eot?#iefix') format('embedded-opentype'),
       local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('/content/static/bcom/common/fonts/OpenSansSemiBold-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/content/static/bcom/common/fonts/OpenSansBold-latin.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/content/static/bcom/common/fonts/OpenSansBold-latin.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'), local('OpenSans-Bold'), url('/content/static/bcom/common/fonts/OpenSansBold-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}