$color-main: #002DB4;

$color-black:#000000;
$color-white:#ffffff;
$color-orange: #ff5c00;

$font-ars : ARS, Arial, sans-serif;

$desktop: "(min-width: 1000px)";
$notDesktop: "(max-width: 999px)";

$mobile: "(max-width: 640px)";
$notMobile: "(min-width: 641px)";
$small: "(max-width: 450px)";