<main class="page-surface">
    <section class="hero__root">
        <div class="container-center hero__container">
            <div class="hero__left-side">
                <img src="./images/logos.png" alt="logos Windows et Intel" class="hero__logos">
                <h1 class="hero__title">
                    <strong>NOUVELLE Surface&nbsp;Go</strong><br>
                    Ultraportable et polyvalente
                </h1>
                <a href="/opeco/OP0918TABG" target="_blank" class="hero__btn">
                    Découvrez la
                </a>
            </div>
        </div>
    </section>
    <div class="container-center">
        <section class="preview__root">
            <div class="preview__container">
                <div class="preview__side preview__side--left">
                    <img class="preview__photo lazyload" alt="Photo de la Surface Go" src="./images/surface01.jpg">
                </div>
                <div class="preview__side preview__side--right">
                    <h2 class="preview__title">
                        Surface Go
                    </h2>
                    <ul class="preview__list">
                        <li class="preview__item">Ecran tactile PixelSenseTM <small>10’’</small> Haute Résolution</li>
                        <li class="preview__item">La Surface la plus légère : 522 g</li>
                        <li class="preview__item">Autonomie jusqu’à 9 h pour tenir la journée entière</li>
                        <li class="preview__item">Conçue pour le travail et les loisirs (Office, Netflix...) avec son processeur Intel<sup>®</sup> 7e génération</li>
                        <li class="preview__item">Utilisez-la en mode PC ou tablette</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="video__root">
            <div class="video__container">
                <video playsinline class="video__elm" src="./images/video-surface.mp4" poster="./images/poster.jpg"></video>
                <a href="https://www.youtube.com/watch?v=gdNRumoxhn8" target="_blank" class="video__play">
                    ${require('./images/play.svg?inline')}
                </a>
            </div>
        </section>
        <section class="props__root">
            <div class="props__container">
                <div class="props__side props__side--left">
                    <h2 class="props__title">
                        Ultraportable et polyvalente
                    </h2>
                    <ul class="props__list">
                        <li class="props__item">522 g seulement</li>
                        <li class="props__item">Écran tactile </li>
                        <li class="props__item">10 pouces</li>
                        <li class="props__item">Jusqu'à 9 heures d'autonomie</li>
                    </ul>
                    <a target="_blank" href="/opeco/OP0918TABG" class="props__btn surface-btn">Découvrez la</a>
                </div>
                <div class="props__side props__side--right">
                    <ul class="props__diapo">
                        <li class="props__slide">
                            <img src="./images/diapo01.jpg" class="props__img lazyload">
                        </li>
                        <li class="props__slide">
                            <img src="./images/diapo02.jpg" class="props__img lazyload">
                        </li>
                    </ul>
                    <div class="props__bottom">
                        <p>Emmenez-la avec vous</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="pushs__root">
        <div class="container-center">
            <h3 class="pushs__title">
                Découvrez aussi&nbsp;:
            </h3>
            <ul class="pushs__list">
                <li class="pushs__item pushs__item--01">
                    <a  target="_blank"href="/c/tous-les-ordinateurs-portables/brand~microsoft#tr=surface%20laptop_redirection" class="pushs__block">
                        <p class="pushs__name">
                            Surface Laptop
                        </p>
                        <img src="./images/push01.png" alt="" class="pushs__img lazyload">
                    </a>
                </li>
                <li class="pushs__item pushs__item--02">
                    <a target="_blank" href="/c/ordinateur-tout-en-un/brand~microsoft#tr=surface%20studio_redirection" class="pushs__block">
                        <p class="pushs__name">
                            Surface Studio
                        </p>
                        <img src="./images/push03.png" alt="" class="pushs__img lazyload">
                    </a>
                </li>
                <li class="pushs__item pushs__item--03">
                    <a target="_blank" href="/resultats?tr=surface+book+2#searchinputmode=op" class="pushs__block">
                        <p class="pushs__name">
                            Surface Book 2
                        </p>
                        <img src="./images/push02.png" alt="" class="pushs__img lazyload">
                    </a>
                </li>
                <li class="pushs__item pushs__item--04">
                    <a target="_blank" href="/c/pc-hybride/brand~microsoft#tr=surface%20pro_redirection" class="pushs__block">
                        <p class="pushs__name">
                            Surface Pro
                        </p>
                        <img src="./images/push04.png" alt="" class="pushs__img lazyload">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <div class="container-center">
        <section class="acc__root">
            <div class="acc__mouse"></div>
            <div class="acc__right">
                <div class="acc__keyboard"></div>
                <div class="acc__content">
                    <h2 class="acc__title">
                        Accessoires Surface
                    </h2>
                    <p class="acc__text">
                        Complétez votre expérience et votre style avec des accessoires puissants qui fonctionnent parfaitement avec votre Surface.
                    </p>
                    <a target="_blank" href="/opeco/ODR818PER" class="acc__btn surface-btn surface-btn--white">Découvrez la</a>
                </div>
                <div class="acc__pen"></div>
            </div>
        </section>
        <section class="promos__root">
            <div class="promos__side promos__side--left">
                <a target="_blank" href="/opeco/ODR518TABV">
                    <img src="./images/promo.jpg" alt="" class="promos__big lazyload">
                </a>
            </div>
            <div class="promos__side promos__side--right">
                <a target="_blank" href="/ref/1073278">
                    <img src="./images/office.jpg" alt="" class="promos__office lazyload">
                </a>
                <a target="_blank" href="/evenement/servicesb#livraison-magasin">
                    <img src="./images/retrait.jpg" alt="" class="img promos__retrait lazyload">
                </a>
            </div>
        </section>
    </div>
</main>