.articles.adq{
    article{
        height: 300px;
        .article--btn{
            margin-top: 20px;
        }
        &.rose{background-color: $color-rose;}
    }
    .violet{background-color: $color-violet;}
    .gold{background-color: $color-gold;}
    .rose{background-color: $color-rose;}
}