.articles.adq{
    article{
        .article--btn{
            margin-top: 20px;
            &--black{
                color: $color-black;
                border: 1px solid $color-black;
            }
        }
        &.rose{background-color: $color-rose;}
        &.yellow{background-color: $color-yellow;}
        &.marron{background-color: $color-marron;}
    }
    .violet{background-color: $color-violet;}
    .gold{background-color: $color-gold;}
    .rose{background-color: $color-rose;}
    .gray{background-color: $color-gray;color: $color-black;}
    .yellow{background-color: $color-yellow;}
    .green{background-color: $color-green;}
    .green-military{background-color: $color-green-military;}
    .marron{background-color: $color-marron;}
    .gray-dark{background-color: $color-gray-dark;}
    .gray-lighter{background-color: $color-gray-lighter;}
    .black{background-color: $color-black;}
    .blue{background-color: $color-blue;}
}

@media #{$notMobile} {
    .articles.adq{
        article{
            height: 300px;
        }
    }
}

@media #{$mobile} {
    .articles.adq{
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media #{$small} {
    .articles.adq{
        article{
            .txt{
                p{
                    display: block;
                    display: -webkit-box;
                    height: 39.6px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .article--btn{
                    font-size: 11px;
                    margin-top: 15px;
                    padding: 6px 13px;
                    order: 3;
                    display: block;
                }
            }
        }
    }
}