.header__root{
    .container-full{
        background: url(../images/header.jpg) center top no-repeat;
        height: 451px;
    }
    .discover{
        background-color: $color-white;
        width: 856px;
        padding: 0px 64px 20px 64px;
        margin: -60px auto 0;
        position: relative;
        text-align: center;
        &--logo{
            margin: -85px auto 20px;
        }
        &--title{
            font-family: $font-ars;
            color: $color-black;
            font-size: 30px;
            line-height: 36px;
            font-weight: bold;
        }
    }
}