.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_1 {
	background-color: #FAAE31;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_1 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/braderie.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_2 {
	background-color: #44685b;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_2 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/maison-connectee.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_3 {
	background-color: #277838;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_3 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/bien-ensemble.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_4 {
	background-color: #932624;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_4 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/soldes.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_5 {
	background-color: #3f5364;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_5 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/equipement.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_6 {
	background-color: #e9b235;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_6 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/happy-chef-sim.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_7 {
	background-color: #060a15;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_7 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/rdv-gamer-sim.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_8 {
	background-color: #1c2539;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_8 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/tv.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_9 {
	background-color: #e5acb3;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_9 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/joursb.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}

.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_10 {
	background-color: #0099e3;
}
.emsDyn.monoLarge .product[class*="long_"].long_template_PAC_10 .ems_top_mono_flag {
	background: url("/content/static/bcom/mobile/ems/opeco/special-vacances-sim.png") center center no-repeat;
	background-size: 100% 100%;
	margin: 0 1%;
	padding: 8% 0;
}
