.long_1000_template_PAC_1 {
  background: url("/content/static/bcom/desktop/ems/opeco/fetedesperes.png") no-repeat left 51px center #2e2c36 !important;
}
.long_1000_template_PAC_1 .ems_top_mono_button span {
  color: #2e2c36 !important;
}
.long_1000_template_PAC_1 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-2e2c36.svg) no-repeat left center !important;
}
.long_1000_template_PAC_2 {
  background: url("/content/static/bcom/desktop/ems/opeco/maison-connectee.png") no-repeat left 51px center #44685b !important;
}
.long_1000_template_PAC_2 .ems_top_mono_button span {
  color: #44685b !important;
}
.long_1000_template_PAC_2 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-44685B.svg) no-repeat left center !important;
}
.long_1000_template_PAC_3 {
  background: url("/content/static/bcom/desktop/ems/opeco/bien-ensemble.png") no-repeat left 51px center #277838 !important;
}
.long_1000_template_PAC_3 .ems_top_mono_button span {
  color: #277838 !important;
}
.long_1000_template_PAC_3 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-277838.svg) no-repeat left center !important;
}
.long_1000_template_PAC_4 {
  background: url("/content/static/bcom/desktop/ems/opeco/bons-plans.png") no-repeat left 51px center #3b3b3b !important;
}
.long_1000_template_PAC_4 .ems_top_mono_button span {
  color: #3b3b3b !important;
}
.long_1000_template_PAC_4 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-3b3b3b.svg) no-repeat left center !important;
}
.long_1000_template_PAC_5 {
  background: url("/content/static/bcom/desktop/ems/opeco/equipement.png") no-repeat left 51px center #3f5364 !important;
}
.long_1000_template_PAC_5 .ems_top_mono_button span {
  color: #3f5364 !important;
}
.long_1000_template_PAC_5 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-3F5364.svg) no-repeat left center !important;
}
.long_1000_template_PAC_6 {
  background: url("/content/static/bcom/desktop/ems/opeco/happy-chef.png") no-repeat left 51px center #e9b235 !important;
}
.long_1000_template_PAC_6 .ems_top_mono_button span {
  color: #e9b235 !important;
}
.long_1000_template_PAC_6 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-e9b235.svg) no-repeat left center !important;
}
.long_1000_template_PAC_7 {
  background: url("/content/static/bcom/desktop/ems/opeco/rdv-gamer.png") no-repeat left 51px center #060a15 !important;
}
.long_1000_template_PAC_7 .ems_top_mono_button span {
  color: #060a15 !important;
}
.long_1000_template_PAC_7 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-060a15.svg) no-repeat left center !important;
}
.long_1000_template_PAC_8 {
  background: url("/content/static/bcom/desktop/ems/opeco/tv.png") no-repeat left 51px center #1c2539 !important;
}
.long_1000_template_PAC_8 .ems_top_mono_button span {
  color: #1c2539 !important;
}
.long_1000_template_PAC_8 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-1C2539.svg) no-repeat left center #ffffff !important;
}
.long_1000_template_PAC_9 {
  background: url("/content/static/bcom/desktop/ems/opeco/joursb.png") no-repeat left 51px center #e5acb3 !important;
}
.long_1000_template_PAC_9 .ems_top_mono_button span {
  color: #e5acb3 !important;
}
.long_1000_template_PAC_9 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-e5acb3.svg) no-repeat left center #ffffff !important;
}
.long_1000_template_PAC_10 {
  background: url("/content/static/bcom/desktop/ems/opeco/special-vacances.png") no-repeat left 51px center #0099e3 !important;
}
.long_1000_template_PAC_10 .ems_top_mono_button span {
  color: #0099e3 !important;
}
.long_1000_template_PAC_10 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-0099e3.svg) no-repeat left center #ffffff !important;
}
.long_860_template_PAC_1 {
  background: url("/content/static/bcom/desktop/ems/opeco/fetedesperes-sim.png") no-repeat left 51px center #2e2c36 !important;
}
.long_860_template_PAC_2 {
  background: url("/content/static/bcom/desktop/ems/opeco/maison-connectee.png") no-repeat left 51px center #44685b !important;
}
.long_860_template_PAC_3 {
  background: url("/content/static/bcom/desktop/ems/opeco/bien-ensemble.png") no-repeat left 51px center #277838 !important;
}
.long_860_template_PAC_4 {
  background: url("/content/static/bcom/desktop/ems/opeco/bons-plans.png") no-repeat left 51px center #3b3b3b !important;
}
.long_860_template_PAC_5 {
  background: url("/content/static/bcom/desktop/ems/opeco/equipement.png") no-repeat left 51px center #3f5364 !important;
}
.long_860_template_PAC_6 {
  background: url("/content/static/bcom/desktop/ems/opeco/happy-chef.png") no-repeat left 51px center #e9b235 !important;
}
.long_860_template_PAC_7 {
  background: url("/content/static/bcom/desktop/ems/opeco/rdv-gamer.png") no-repeat left 51px center #060a15 !important;
}
.long_860_template_PAC_8 {
  background: url("/content/static/bcom/desktop/ems/opeco/tv.png") no-repeat left 51px center #1c2539 !important;
}
.long_860_template_PAC_9 {
  background: url("/content/static/bcom/desktop/ems/opeco/joursb.png") no-repeat left 51px center #c0d4d3 !important;
}
.long_860_template_PAC_10 {
  background: url("/content/static/bcom/desktop/ems/opeco/special-vacances.png") no-repeat left 51px center #0099e3 !important;
}
.long_705_template_PAC_1 {
  background-color: #2e2c36 !important;
}
.long_705_template_PAC_1 .ems_top_mono_button span {
  color: #2e2c36 !important;
}
.long_705_template_PAC_1 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-2e2c36.svg) no-repeat left center !important;
}
.long_705_template_PAC_2 {
  background-color: #44685b !important;
}
.long_705_template_PAC_2 .ems_top_mono_button span {
  color: #44685b !important;
}
.long_705_template_PAC_2 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-44685B.svg) no-repeat left center !important;
}
.long_705_template_PAC_3 {
  background-color: #277838 !important;
}
.long_705_template_PAC_3 .ems_top_mono_button span {
  color: #277838 !important;
}
.long_705_template_PAC_3 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-277838.svg) no-repeat left center !important;
}
.long_705_template_PAC_4 {
  background-color: #3b3b3b !important;
}
.long_705_template_PAC_4 .ems_top_mono_button span {
  color: #3b3b3b !important;
}
.long_705_template_PAC_4 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-3b3b3b.svg) no-repeat left center !important;
}
.long_705_template_PAC_5 {
  background-color: #d7d8d8 !important;
}
.long_705_template_PAC_5 .ems_top_mono_button span {
  color: #d7d8d8 !important;
}
.long_705_template_PAC_5 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-d7d8d8.svg) no-repeat left center !important;
}
.long_705_template_PAC_6 {
  background-color: #e9b235 !important;
}
.long_705_template_PAC_6 .ems_top_mono_button span {
  color: #e9b235 !important;
}
.long_705_template_PAC_6 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-e9b235.svg) no-repeat left center !important;
}
.long_705_template_PAC_7 {
  background-color: #060a15 !important;
}
.long_705_template_PAC_7 .ems_top_mono_button span {
  color: #060a15 !important;
}
.long_705_template_PAC_7 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-060a15.svg) no-repeat left center !important;
}
.long_705_template_PAC_8 {
  background-color: #1c2539 !important;
}
.long_705_template_PAC_8 .ems_top_mono_button span {
  color: #1c2539 !important;
}
.long_705_template_PAC_8 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-1C2539.svg) no-repeat left center #ffffff !important;
}
.long_705_template_PAC_9 {
  background-color: #e5acb3 !important;
}
.long_705_template_PAC_9 .ems_top_mono_button span {
  color: #e5acb3 !important;
}
.long_705_template_PAC_9 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-e5acb3.svg) no-repeat left center !important;
}
.long_705_template_PAC_10 {
  background-color: #0099e3 !important;
}
.long_705_template_PAC_10 .ems_top_mono_button span {
  color: #0099e3 !important;
}
.long_705_template_PAC_10 .ems_top_mono_button:after {
  width: 23px !important;
  background: url(/content/static/bcom/desktop/ems/img/btn-0099e3.svg) no-repeat left center #ffffff !important;
}
.long_1000_template_PAC_3,
.long_1000_template_PAC_4,
.long_1000_template_PAC_5,
.long_1000_template_PAC_6,
.long_1000_template_PAC_7,
.long_1000_template_PAC_8,
.long_1000_template_PAC_9,
.long_1000_template_PAC_10,
.long_860_template_PAC_10,
.long_860_template_PAC_2,
.long_860_template_PAC_3,
.long_860_template_PAC_4,
.long_860_template_PAC_5,
.long_860_template_PAC_6,
.long_860_template_PAC_7,
.long_860_template_PAC_8,
.long_860_template_PAC_9 {
  background: url() left 51px center no-repeat #999999;
}
.long_1000_template_PAC_3 .ems_top_mono_button span,
.long_1000_template_PAC_4 .ems_top_mono_button span,
.long_1000_template_PAC_5 .ems_top_mono_button span,
.long_1000_template_PAC_6 .ems_top_mono_button span,
.long_1000_template_PAC_7 .ems_top_mono_button span,
.long_1000_template_PAC_8 .ems_top_mono_button span,
.long_1000_template_PAC_9 .ems_top_mono_button span,
.long_1000_template_PAC_10 .ems_top_mono_button span,
.long_705_template_PAC_2 .ems_top_mono_button span,
.long_705_template_PAC_3 .ems_top_mono_button span,
.long_705_template_PAC_4 .ems_top_mono_button span,
.long_705_template_PAC_5 .ems_top_mono_button span,
.long_705_template_PAC_6 .ems_top_mono_button span,
.long_705_template_PAC_7 .ems_top_mono_button span,
.long_705_template_PAC_8 .ems_top_mono_button span,
.long_705_template_PAC_9 .ems_top_mono_button span,
.long_705_template_PAC_10 .ems_top_mono_button span {
  color: #999999;
}
.long_1000_template_PAC_3 .ems_top_mono_button:after,
.long_1000_template_PAC_4 .ems_top_mono_button:after,
.long_1000_template_PAC_5 .ems_top_mono_button:after,
.long_1000_template_PAC_6 .ems_top_mono_button:after,
.long_1000_template_PAC_7 .ems_top_mono_button:after,
.long_1000_template_PAC_8 .ems_top_mono_button:after,
.long_1000_template_PAC_9 .ems_top_mono_button:after,
.long_1000_template_PAC_10 .ems_top_mono_button:after,
.long_705_template_PAC_2 .ems_top_mono_button:after,
.long_705_template_PAC_3 .ems_top_mono_button:after,
.long_705_template_PAC_4 .ems_top_mono_button:after,
.long_705_template_PAC_5 .ems_top_mono_button:after,
.long_705_template_PAC_6 .ems_top_mono_button:after,
.long_705_template_PAC_7 .ems_top_mono_button:after,
.long_705_template_PAC_8 .ems_top_mono_button:after,
.long_705_template_PAC_9 .ems_top_mono_button:after,
.long_705_template_PAC_10 .ems_top_mono_button:after {
  width: 23px;
  background: url(/content/static/bcom/desktop/ems/img/btn-mask.svg) left center no-repeat #999999 ;
}
.long_705_template_PAC_2,
.long_705_template_PAC_3,
.long_705_template_PAC_4,
.long_705_template_PAC_5,
.long_705_template_PAC_6,
.long_705_template_PAC_7,
.long_705_template_PAC_8,
.long_705_template_PAC_9,
.long_705_template_PAC_10 {
  background-color: #999999;
}
