<!--
	1/ Il est possible d'utiliser le script de génération d'HTML dispo ici : http://signature-mail.boulnet.com/tools/items/articles-salon.php
	   Collé ici TOUT le contenu du champ "HTML des articles"

	2/ Sinon voici un exemple de structure à utiliser :

	<section class="press__section" id="_categorie-1">
		<article class="press__article" id="_samsung-tv-qled-8k">
			<h2 class="press__title">
				Samsung, TV QLED 8K
			</h2>
			<h3 class="press__subtitle">
				<strong>La 8K déjà accessible grâce à l’intelligence artificielle </strong>
			</h3>
			<p>
				Leader depuis 12 ans sur le marché de la télévision, Samsung dévoile les 3 téléviseurs QLED 8K de sa gamme Q9000R.
			</p>
			<p>
				S’appuyant sur le processeur Quantum Processor 8K et l’intelligence artificielle, ces télévisions sont capables d’upscaler n’importe quel flux vidéo pour l’afficher en 8K, que la source soit en SD, HD, Full HD ou même Ultra HD.
			</p>
			<img src="../images/samsung-8K-QLED-Q9000R.jpg" class="press__illu lazyload">
		</article>
	</section>
-->

