<section class="header__root">
	<div class="container-center container-center--nopadding">
	<!--

	Peux contenir un slider ou simplement une image

	1/ Cas du slider (à noté que chaque slide peut être un lien et peut comporter un texte en overlay ou non):

		<div class="header__slider swiper-container">
			<div class="header__slides swiper-wrapper">
				<div class="header__item header__item--no-filter swiper-slide">
					<img src="../images/[NOM IMAGE DESK]" class="header__img" alt="[ALT IMAGE DESK]" >
					<img src="../images/[NOM IMAGE SIM]" class="header__img header__img--sim" alt="[ALT IMAGE SIM]" >
				</div>
				<a href="" class="header__item swiper-slide">
					<img src="../images/[NOM IMAGE DESK]" class="header__img" alt="[ALT IMAGE DESK]" >
					<img src="../images/[NOM IMAGE SIM]" class="header__img header__img--sim" alt="[ALT IMAGE SIM]" >
					<p class="header__text">
						[TEXTE]
					</p>
				</a>
				<a href="#lenovo-yoga-book-c930" class="header__item swiper-slide">
					<img src="../images/head_03.jpg" class="header__img" alt="Illustration Yogabook c930" >
					<img src="../images/head_03-sim.jpg" class="header__img header__img--sim" alt="Illustration Yogabook c930" >
					<p class="header__text">
						<b>LENOVO Yogabook c930</b><br>
						un ordinateur portable avec 2 écrans
					</p>
				</a>
			</div>
			<div class="swiper-pagination"></div>
			<span class="header__arrow header__arrow--prev"></span>
			<span class="header__arrow header__arrow--next"></span>
		</div>


	2/ Cas de l'image seule:

		<img src="../images/[NOM IMAGE DESK]" class="header__img" alt="[ALT IMAGE DESK]" >
		<img src="../images/[NOM IMAGE SIM]" class="header__img header__img--sim" alt="[ALT IMAGE SIM]" >

	-->
	</div>
	<div class="container-center">
		<!-- titre qui est display:none; Peut être supprimé au profit d'un h1.header__text dans un slide à la place p.header__text -->
		<h1 class="header__title">

		</h1>
		<p class="header__intro">

		</p>
	</div>
</section>