<!--
	1/ Il est possible d'utiliser le script de génération d'HTML dispo ici : http://signature-mail.boulnet.com/tools/items/articles-salon.php
	   Collé ici TOUT le contenu du champ "HTML du menu"

	2/ Sinon voici un exemple de structure à utiliser :

	<div class="sidebar__root container-center">
		<nav class="sidebar__nav">
			<ul class="sidebar__menu">
				<li class="sidebar__item">
					<a class="sidebar__menu-a" href="#categorie-1">TV / Image / Son</a>
					<ul class="sidebar__submenu">
						<li class="sidebar__subitem">
							<a class="sidebar__submenu-a" href="#samsung-tv-qled-8k">Samsung, TV QLED 8K</a>
						</li>

						<li class="sidebar__subitem">
							<a class="sidebar__submenu-a" href="#bose-lenceinte-intelligente-home-500">Bose, l’enceinte intelligente Home 500</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
-->
