$color-main:#F9B000;

$color-black:#000000;
$color-white:#ffffff;

$color-blue:#0096B1;

$desktop: "(min-width: 1000px)";
$notDesktop: "(max-width: 999px)";

$mobile: "(max-width: 640px)";
$notMobile: "(min-width: 641px)";
$small: "(max-width: 450px)";