$color-main:#343360;

$color-black:#000000;
$color-white:#ffffff;

$color-grey:#707070;
$color-menu : #A7A7A7;

$color-orange :#FD5300;

$desktop: "(min-width: 1000px)";
$notDesktop: "(max-width: 999px)";

$mobile: "(max-width: 640px)";
$notMobile: "(min-width: 641px)";
$small: "(max-width: 450px)";