$color-beige: #F9F6F0;
$color-gold:#CCB079;

$color-grey-light:#EDEDED;
$color-grey-middle:#D6D6D6;
$color-grey:#606060;
$color-bleu-ciel: #D6E3E3;
$color-bleu-canard: #2E5553;
$color-bleu-canard60:  rgba(46, 85, 83, 0.6);
$color-bleu-ciel50: rgba(214, 227, 227, 0.5);
$color-orange:#FF5C00;
