#center {
	width: 100% !important;
}

#center_part_2_full {
	float: none !important;
	width: 100% !important;
}

#contenuhome {
	margin: 0 !important;
}

#bottomfooter {
	margin-top: 0 !important;
}

#ftr {
	margin-top: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	background: none;
	border: 0 none;
	color: inherit;
	display: block;
	float: none;
	font-family: Arial, sans-serif;
	line-height: 1.2;
    padding: 0;
    font-weight:400;
}
*,
::after,
::before {
	box-sizing: border-box;
}
html,
body {
	font-size: 100%;
    margin: 0;
}
strong, b {
    font-weight: bold;
}