$color:#000000;
$color-black:#3B3B3B;
$color-white:#ffffff;
$color-grey:#606060;
$color-violet:#8D889E;
$color-gold:#BEA77A;
$color-rose:#EEA18E;

$font-ars : ARS, Arial, sans-serif;


$desktop: "(min-width: 1000px)";
$notDesktop: "(max-width: 999px)";

$mobile: "(max-width: 640px)";
$notMobile: "(min-width: 641px)";
$small: "(max-width: 450px)";