$color-black: #000000;
$color-white: #ffffff;
$color-orange: #ff5c00;
$color-nav-background: #f5f5f5;
$color-nav-links: #000000;
$color-nav-links-hover: #ef715e;
$desktop: "(min-width: 1000px)";
$notDesktop: "(max-width: 999px)";
$mobile: "(max-width: 640px)";
$notMobile: "(min-width: 641px)";
$small: "(max-width: 450px)";
