/*

// BREAKPOINTS

$desktop: "(min-width: 1000px)";
$notDesktop: "(max-width: 999px)";
$mobile: "(max-width: 640px)";
$notMobile: "(min-width: 641px)";
$tablet: $notMobile "and" $notDesktop;
$small: "(max-width: 450px)";

*/
