.totop{
	&__root{
		display:none;
		margin-top:30px;
	}

	&__btn{
		padding: 8px 13px;
		margin: 24px auto 0;
		overflow: hidden;
		color: $color-main;
		font-size: 14px;
		text-align: center;
		text-decoration: none;
		border: 1px solid $color-main;
		border-radius: 3px;
		transition: background-color 0.3s, color 0.3s;

		&::after,
		&::before{
			content:"";
			position: relative;
			top:-2px;
			display: inline-block;
			vertical-align: middle;
			width:24px;
			height:13px;
			background-position: center center;
			background-repeat: no-repeat;
			margin-left:8px;
			background-size: cover;
			background-image: url("../../../_global/tpl_salon/images/arrow-top.svg");
		}

		&::before{
			margin-left:0;
			margin-right:8px;
		}
	}
}
@media (max-width:800px){
	.totop{
		&__root{
			display:flex;
			justify-content: center;
		}
	}
}

.rs{
	&__root{
		margin-top:55px;
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 100;
	}

	&__link{
		display: block;
		margin: 0 7px;
	}

	&__icon{
		width: 40px;
		height: 40px;
		display: block;
	}
}