#idz_btn {
    display: none;
}

@media #{$mobile} {
    .only-desk {
    	display: none !important;
    }
}

.only-sim {
    display: none !important;

    @media #{$mobile} {
    	display: block !important;
    }
}

.page-noel {
    position: relative;
}

.typex {
    width: 100%;
    color: $color-orange;
    font-family: $font-ars;
    font-size: 51px;
    font-weight: 400;
    line-height: 1.06;
    text-align: center;

    b {
    	font-weight: 700;
    }

    &__child {
    	padding: 0 10px;
    	background: $color-white;
    	background: linear-gradient(
    	to bottom,
    	rgba(255,255,255,0) 17%,
    	rgba(255,255,255,1) 17%,
    	rgba(255,255,255,1) 90%,
    	rgba(255,255,255,0) 90%,
    	rgba(255,255,255,0) 100%
    	);
    	-webkit-box-decoration-break: clone;
    	box-decoration-break: clone;

    	-o-box-decoration-break: clone;
    }

    &--invert {
    	color: $color-white;

    	.typex__child {
    		background: linear-gradient(
    		to bottom,
    		rgba(255,255,255,0) 17%,
    		rgba($color-orange,1) 17%,
    		rgba($color-orange,1) 90%,
    		rgba(255,255,255,0) 90%,
    		rgba(255,255,255,0) 100%
    		);
    	}
    }

    &--golden {
    	color: $color-white;

    	.typex__child {
    		background: linear-gradient(
    		to bottom,
    		rgba(255,255,255,0) 17%,
    		rgba($color-gold,1) 17%,
    		rgba($color-gold,1) 90%,
    		rgba(255,255,255,0) 90%,
    		rgba(255,255,255,0) 100%
    		);
    	}
    }

    &--shadow {
    	.typex__child {
    		padding: 0 20px;
    		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 17%,rgba(255,255,255,1) 17%,rgba(255,255,255,1) 90%, rgba(0,0,0,0.15) 90%, rgba(0,0,0,0) 100%) 10px 0/calc(100% - 20px) 100% no-repeat,
    		linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 12px,rgba(0,0,0,0) 12px,rgba(0,0,0,0) calc(100% - 12px), rgba(0,0,0,0.15) calc(100% - 10px), rgba(0,0,0,0) 100%) 0 59%/100% 73% no-repeat;
    	}
    }
}
@media #{$notDesktop} {
    .typex {
    	font-size: 48px;
    }
}
@media #{$mobile} {
    .typex {
    	@include fs(48);
    }
}
@media #{$small} {
    .typex {
    	@include fs(60);
    }
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    color: $color-white;
    font-family: $font-ars;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    background-color: $color-orange;
    border: 1px solid $color-orange;
    border-radius: 3px;
    transition: color 0.3s, background-color 0.3s;

    @media #{$desktop} {
    	// &:hover{
    	// 	color:$color-orange;
    	// 	background-color: $color-white;
    	// }
    }

    &--big {
    	padding: 14px 30px;
    	font-size: 17px;
    	font-weight: 700;
    }

    &--black {
    	color: $color-black;
    	background-color: transparent;
    	border-color: $color-black;

    	@media #{$desktop} {
    		&:hover {
    			color: $color-white;
    			background-color: $color-black;
    		}
    	}
    }

    &--white {
    	background-color: transparent;
    	border-color: $color-white;

    	@media #{$desktop} {
    		&:hover {
    			color: $color-orange;
    			background-color: $color-white;
    		}
    	}
    }

    &--golden {
    	background-color: $color-gold;
    	border-color: $color-gold;

    	@media #{$desktop} {
    		&:hover {
    			color: $color-gold;
    			background-color: $color-white;
    		}
    	}
    }
}
@media #{$mobile} {
    .btn {
    	@include fs(20);

@include lh(24);
    	padding: 12px 22px;

    	&--big {
    		@include fs(24);
    		padding: 14px 40px;
    	}
    }
}
@media #{$small} {
    .btn {
    	padding: 8px 12px;

// @include fs(28);
    	// @include lh(28);
    	font-size: 15px;
    	line-height: 16px;
    	&--big {
    		padding: 14px 30px;
    		font-size: 17px;
    	}
    }
}

.subtitle2 {
    font-family: $font-ars;
    font-size: 26px;
    font-weight: 700;
}
@media #{$mobile} {
    .subtitle2 {
    	@include fs(40);
    }
}

.separ {
    &::after {
    	display: block;
    	width: 67px;
    	height: 2px;
    	margin: 15px 0;
    	content: "";
    	background-color: $color-orange;
    }

    &--white::after {
    	background-color: $color-white;
    }
}
@media #{$small} {
    .separ {
    	&::after {
    		width: 50px;
    	}
    }
}

html.no-scroll {
    height: 100%;

    body {
    	height: 100%;
    	overflow: hidden !important;
    }
}


#filAriane {
    margin: 10px auto;
}

.ftr__top,
#footer #bottomfooter .top {
    display: none !important;
}
