.star-white{
	content:"";
	position:absolute;
	background: url("../images/star_white.svg") no-repeat center center;
	background-size: contain;
}
.stars-white{
	@extend .star-white;
	background-image: url("../images/stars_white.svg");
}
.star-gold{
	@extend .star-white;
	background-image: url("../images/star_gold.svg");
}
.stars-gold{
	@extend .star-white;
	background-image: url("../images/stars_gold.svg");
}

.zop__root{
	position: relative;

	&::before{
		@extend .stars-gold;
		width: 110px;
		height: 106px;
		top:90px;
		left:calc(50% + 370px);
		transform: rotate(77deg);
		opacity: 0.7;
		z-index: 100;
	}

	&::after{
		@extend .star-gold;
		width: 38px;
		height: 38px;
		top: 130px;
		right: calc(50% + 370px);
		transform: rotate(200deg);
		opacity: 0.7;
		z-index: 100;
	}
}

.zop__list{
	position: relative;

	&::before{
		@extend .stars-gold;
		width: 110px;
		height: 106px;
		top:30%;
		right: calc(50% + 500px);
    	transform: rotate(175deg);
		opacity: 0.7;
	}

	&::after{
		@extend .star-gold;
		width: 70px;
		height: 70px;
		top: 50%;
		left: calc(50% + 530px);
		transform: rotate(200deg);
		opacity: 0.7;
	}
}

.slider__root{
	position: relative;

	&::before{
		@extend .stars-gold;
		width: 110px;
		height: 106px;
		bottom: 30px;
		left: calc(50% + 10px);
		transform: rotate(86deg);
		opacity: 0.7;
	}
}

.tract__container{
	position: relative;

	&::before{
		@extend .stars-gold;
		width: 110px;
		height: 106px;
		bottom: -130px;
		left: calc(50% + 400px);
		transform: rotate(86deg);
		opacity: 0.7;
	}

	&::after{
		@extend .star-gold;
		width: 50px;
		height: 50px;
		bottom: -55px;
		left: calc(50% + 480px);
		transform: rotate(168deg);
		opacity: 0.7;
	}
}

.advent{
	&__root{
		position: relative;

		&::before{
			@extend .stars-gold;
			width: 132px;
			height: 127px;
			bottom:-15px;
			right:calc(50% + 500px);
			transform: rotate(169deg);
			opacity: 0.73;
			z-index: 10;
		}

		&::after{
			@extend .stars-gold;
			width: 129px;
			height: 124px;
			top:270px;
			left:calc(50% + 500px);
			transform: rotate(77deg);
			opacity: 0.73;
			z-index: 10;
		}
	}

	&__part-prod{
		position: relative;

		&::before{
			@extend .star-gold;
			display: none;
		}

		&::after{
			@extend .stars-gold;
			display: none;
		}
	}
}
.tract__root + .advent__root{
	.advent__container::before{
		@extend .star-gold;
		width: 140px;
		height: 140px;
		top: 48px;
		left:auto;
		right: calc(50% + 371px);
		transform: rotate(160deg);
		opacity: 0.7;
	}
}

.plaisir{
	&__root{
		&::after{
			@extend .stars-white;
			width: 74px;
			height: 72px;
			top:0px;
			left:calc(50% + 330px);
			opacity: 0.59;
			z-index: 20;
		}

		.container-center{
			position: relative;

			&::before{
				@extend .star-white;
				width: 70px;
				height: 70px;
				top:156px;
				right:calc(50% + 480px);
				opacity: 0.59;
			}

			&::after{
				@extend .star-white;
				width: 70px;
				height: 70px;
				top:330px;
				left:calc(50% + 480px);
				transform: rotate(261deg);
				opacity: 0.59;
			}
		}
	}

	&__ribbon{
		position: relative;

		&::before{
			@extend .stars-white;
			width: 77px;
			height: 65px;
			top:44px;
			right:calc(50% + 390px);
			transform: rotate(-100deg);
			opacity: 0.59;
		}
	}

	&__gifts{
		position: relative;

		&::before{
			@extend .stars-white;
			width: 74px;
			height: 72px;
			top:160px;
			right:calc(50% - 50px);
			transform: rotate(77deg);
			opacity: 0.59;
		}

		&::after{
			@extend .star-white;
			width: 44px;
			height: 44px;
			top:250px;
			left:calc(50% - 50px);
			transform: rotate(31deg);
			opacity: 0.59;
		}
	}
}


.exclu{
	&__root{
		&::before{
			@extend .stars-gold;
			width: 170px;
			height: 163px;
			top:0;
			right:calc(50% + 292px);
			transform: rotate(77deg);
			opacity: 0.7;
		}

		&::after{
			@extend .stars-gold;
			width: 170px;
			height: 163px;
			bottom:0;
			left:calc(50% + 339px);
			transform: rotate(-100deg);
			opacity: 0.7;
		}
	}

	&__item--mp{
		position: relative;

		&::before{
			@extend .stars-gold;
			width: 121px;
			height: 116px;
			bottom: -115px;
			left: calc(50% + 365px);
			transform: rotate(15deg);
			opacity: 0.7;
		}
	}

	&__item--adq{
		position: relative;

		&::before{
			@extend .stars-gold;
			width: 121px;
			height: 116px;
			bottom:-7px;
			right:calc(50% + 350px);
			transform: rotate(-107deg);
			opacity: 0.7;
		}

		&::after{
			@extend .star-gold;
			display: none;
		}
	}

	&__item--skk{
		position: relative;

		&::before{
			@extend .stars-gold;
			display: none;
		}
	}
}

.app__root{
	position: relative;

	&::before{
		@extend .stars-gold;
		width: 170px;
		height: 164px;
		bottom:-175px;
		left:calc(50% + 245px);
		transform: rotate(82deg);
		opacity: 0.7;
	}

	&::after{
		@extend .stars-gold;
		opacity: 0.7;
		display: none;
	}
}

.mag__root{
	position: relative;

	&::before{
		@extend .stars-gold;
		width: 76px;
		height: 88px;
		bottom:70px;
		right:calc(50% + 474px);
		transform: rotate(273deg);
		opacity: 0.73;
	}

	&::after{
		@extend .star-gold;
		width: 76px;
		height: 76px;
		bottom:225px;
		right:calc(50% - 9px);
		transform: rotate(213deg);
		opacity: 0.73;
	}
}


.video__root{
	position: relative;

	&::after{
		@extend .stars-white;
		width: 109px;
		height: 105px;
		top:120px;
		right:calc(50% + 391px);
		transform: rotate(255deg);
		opacity: 0.38;
	}

	.container-center::before{
		@extend .stars-white;
		width: 187px;
		height: 180px;
		bottom: -65px;
		left: calc(50% + 442px);
		transform: rotate(188deg);
		opacity: 0.38;
	}
}

.service__root{
	position: relative;
	overflow: hidden;

	&::before{
		@extend .stars-gold;
		width: 83px;
		height: 80px;
		top:73px;
		right:calc(50% + 405px);
		transform: rotate(261deg);
		opacity: 0.73;
	}

	&::after{
		@extend .stars-gold;
		width: 170px;
		height: 163px;
		top:105px;
		left:calc(50% + 397px);
		transform: rotate(77deg);
		opacity: 0.73;
	}

	.container-center{
		position: relative;

		&::before{
			@extend .star-gold;
			width: 83px;
			height: 83px;
			bottom:30px;
			right:calc(50% + 510px);
			transform: rotate(125deg);
			opacity: 0.73;
		}

		&::after{
			@extend .star-gold;
			width: 36px;
			height: 36px;
			bottom:0;
			right:calc(50% + 85px);
			transform: rotate(125deg);
			opacity: 0.59;
		}
	}
}

.footer__root{
	position: relative;
	overflow: hidden;

	&::before{
		@extend .stars-white;
		width: 87px;
		height: 84px;
		top:40px;
		right:calc(50% + 326px);
		transform: rotate(261deg);
		opacity: 0.3;
	}

	&::after{
		@extend .stars-white;
		width: 152px;
		height: 146px;
		top:80px;
		left:calc(50% + 355px);
		transform: rotate(77deg);
		opacity: 0.2;
	}
}

@media #{$mobile}{
	.slider__root::before{
		display: none;
	}

	.advent{
		&__root{
			&::before{
				display: none;
			}

			&::after{
				width: percentage(132px/640px);
				height: 0;
				padding-bottom:percentage(127px/640px);
				top:auto;
				bottom:1%;
				left:-3%;
				transform: rotate(8deg);
				opacity: 0.73;
			}
		}

		&__part-prod{
			&::before{
				display: block;
				width: percentage(132px/580px);
				height: 0;
				padding-bottom:percentage(132px/580px);
				top:2%;
				left:-13%;
				transform: rotate(30deg);
				opacity: 0.73;
				z-index: 10;
			}

			&::after{
				display: block;
				width: percentage(130px/580px);
				height: 0;
				padding-bottom:percentage(124px/580px);
				top:24%;
				right:-10%;
				transform: rotate(88deg);
				opacity: 0.73;
			}
		}
	}

	.plaisir{
		&__root{
			&::after{
				// @extend .stars-white;
				width: percentage(74px/640px);
				height: 0;
				padding-bottom:percentage(72px/640px);
				top:19%;
				left:percentage(-10px/640px);
			}

			.container-center{
				&::before{
					display: none;
				}

				&::after{
					// @extend .star-white;
					width: percentage(70px/640px);
					height: 0;
					padding-bottom:percentage(70px/640px);
					top:-5%;
					left:auto;
					right:percentage(45px/640px);
					transform: rotate(0);
				}
			}
		}

		&__ribbon{
			&::before{
				display: none;
			}
		}

		&__gifts{
			&::before{
				// @extend .stars-white;
				width: percentage(74px/640px);
				height: 0;
				padding-bottom:percentage(72px/640px);
				top:43%;
				right:auto;
				left: percentage(17px/640px);
				transform: rotate(191deg);
			}

			&::after{
				// @extend .star-white;
				width: percentage(100px/640px);
				height: 0;
				padding-bottom:percentage(100px/640px);
				top:auto;
				bottom: 2%;
				left:92%;
				transform: rotate(70deg);
			}
		}
	}

	.exclu{
		&__root{
			&::before{
				width: percentage(121px/640px);
				height: 0;
				padding-bottom:percentage(116px/640px);
				top: 1.8%;
				right:92%;
			}

			&::after{
				display: none;
			}
		}

		&__item--mp{
			&::before{
				width: percentage(139px/640px);
				height: 0;
				padding-bottom:percentage(134px/640px);
				bottom: -11%;
				left: -7%;
				transform: rotate(-93deg);
			}
		}

		&__item--adq{
			&::before{
				width: percentage(139px/640px);
				height: 0;
				padding-bottom:percentage(134px/640px);
				bottom: 25%;
    			right: -9%;
				transform: rotate(-5deg);
			}

			&::after{
				display: block;
				width: percentage(52px/640px);
				padding-bottom:percentage(52px/640px);
				bottom: 43%;
				right: 3%;
				transform: rotate(197deg);
				opacity: 0.7;
			}
		}

		&__item--skk{
			position: relative;

			&::before{
				display: block;
				width: percentage(82px/640px);
				padding-bottom:percentage(79px/640px);
				bottom: 29%;
				right: 3%;
				transform: rotate(65deg);
				opacity: 0.7;
			}
		}
	}

	.app__root{
		&::before{
			width: percentage(170px/640px);
			height: percentage(164px/640px);
			bottom:-20%;
			left:78%;
		}

		&::after{
			display: block;
			width: percentage(170px/640px);
			height: percentage(164px/640px);
			bottom: -6%;
			left: -9%;
			transform: rotate(-64deg);
		}
	}

	.mag__root{
		&::after,
		&::before{
			display: none;
		}
	}

	.video__root{
		&::after,
		.container-center::before{
			display: none;
		}
	}

	.service__root{
		&::before{
			width: percentage(139px/640px);
			height: 0;
			padding-bottom:percentage(134px/640px);
			top:2.5%;
			right:auto;
			left:percentage(-45px/640px);
			transform: rotate(286deg);
			opacity: 0.73;
		}

		&::after{
			width: percentage(170px/640px);
			height: 0;
			padding-bottom:percentage(164px/640px);
			top:13%;
			left:auto;
			right:percentage(-45px/640px);
			transform: rotate(77deg);
			opacity: 0.73;
		}

		.container-center{
			position: relative;

			&::before{
				width: percentage(139px/640px);
				height: 0;
				padding-bottom:percentage(134px/640px);
				bottom:0%;
				right:auto;
				left:percentage(-30px/640px);
				transform: rotate(114deg);
				opacity: 0.73;
			}

			&::after{
				display: none;
			}
		}
	}

	.footer__root{
		&::before{
			width: 20.7%;
			height: 0;
			padding-bottom: 20.9%;
			top: 8%;
			right: 87%;
		}

		&::after{
			width: 24.7%;
			height: 0;
			padding-bottom: 24.9%;
			top: 59%;
			left: 75%;
			transform: rotate(25deg);
		}
	}
}
@media #{$small}{
	.plaisir__root .container-center::after{
		top:-3.5%;
	}
}
