$color-black: #000000;
$color-white: #ffffff;
$color-orange: #fd5300;
$color-gold: #ccb079;
$color-back-back: #313131;
$color-back-grey: #efefef;
$font-ars: ARS, Arial, sans-serif;
$desktop: "(min-width: 1000px)";
$notDesktop: "(max-width: 999px)";
$tabletOnly: "(min-width: 641px) and (max-width: 999px)";
$tablet: "(max-width: 800px)";
$mobile: "(max-width: 640px)";
$notMobile: "(min-width: 641px)";
$small: "(max-width: 450px)";

@mixin fs($size) {
	font-size:#{($size*0.5)}px;
	font-size:#{($size/640*100)}vw;
}
@mixin lh($size) {
	line-height:#{($size*0.5)}px;
	line-height:#{($size/640*100)}vw;
}
