@import "variables";
@import "../../../_global/tpl_salon/styles/reset";
@import "../../../_global/tpl_salon/styles/fonts";
@import "../../../_global/tpl_salon/styles/base";

@media #{$notDesktop} {
    .only-desk{
        display: none !important;
    }
}

@media #{$mobile} {
    .only-noSim{
        display: none !important;
    }
}
.only-sim{
    display: none !important;

    @media #{$mobile} {
        display: block !important;
	}
}
.page-evenement{
	position: relative;
}
.cuisine{
	&__title2{
		color:$color-main;
		font-family: $font-ars;
		font-size: 26px;
		line-height: 35px;
		font-weight: 700;
	}

	&__text{
		font-size: 15px;
		line-height: 26px;
		margin-top:20px;
	}

	&__btn{
		font-size: 12px;
		font-weight: 700;
		font-family: $font-ars;
		background-color: $color-orange;
		border:1px solid $color-orange;
		color:$color-white;
		transition:background-color 0.3s, color 0.3s;
		padding:12px 28px;
		display: inline-block;
		text-decoration: none;
		border-radius: 3px;

		@media #{$desktop}{
			&:hover{
				background-color: $color-white;
				color:$color-orange;
			}
		}
	}

	&__btn-all{
		display: none;
		font-size: 13px;
		font-weight: 700;
		font-family: $font-ars;
		background-color: $color-orange;
		border:1px solid $color-orange;
		color:$color-white;
		transition:bottom 0.5s, opacity 0.3s;
		padding:12px 20px;
		text-decoration: none;
		border-radius: 3px;
		position: fixed;
		z-index: 1000;
		bottom:-50px;
		opacity: 0;
		text-align: center;
		width: 315px;
		left:50%;
		margin-left:-157px;

		&.fixed{
			bottom:20px;
			opacity: 1;
		}
	}
}
@media #{$mobile}{
	.cuisine{
		&__title2{
			font-size: 23px;
			line-height: 30px;
		}

		&__text{
			font-size: 14px;
			line-height: 23px;
		}

		&__btn-all{
			display: inline-block;
		}
	}
}
@media #{$small}{
	.cuisine{
		&__title2{
			font-size: 17px;
			line-height: 22px;
		}

		&__text{
			font-size: 14px;
			line-height: 20px;
			margin-top:15px;
		}

		&__btn{
			padding:10px 20px;
		}

		&__btn-all{
			padding:16px 10px;
			width: 80%;
			left:10%;
			margin-left: 0;

			&.fixed{
				bottom:15px;
			}
		}
	}
}
@media (max-width:380px){
	.cuisine{
		&__btn-all{
			padding:10px 5px;
			width: 80%;
			left:10%;
			font-size: 12px;
		}
	}
}
@media (max-width:322px){
	.cuisine{
		&__btn-all{
			font-size: 11px;
		}
	}
}

.header{
	&__root{
		padding-top:35px;
	}

	&__container{
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
	}

	&__content{
		display: flex;
		padding-left:15px;
		width:percentage(420px/1000px);
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__title{

	}

	&__title-text{
		display: none;
	}

	&__title-img{
		display: block;
		max-width: 100%;
	}

	&__intro{
		font-family: $font-ars;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		margin-top: 25px;
	}

	&__container-img{
		width:percentage(541px/1000px);
		overflow: hidden;
		border-radius: 0 0 0 175px;
	}

	&__illu{
		display: block;
		object-fit: cover;
		font-family: 'object-fit: cover;';
		min-height: 260px;
		max-width: 100%;
	}
}
@media #{$notDesktop}{
	.header{
		&__intro{
			font-size: 15px;
			line-height: 25px;
		}

		&__container-img{
			border-radius: 0 0 0 160px;
		}
	}
}
@media #{$mobile}{
	.header{
		&__root{
			padding-top:48px;
		}

		&__content{
			width:auto;
			flex-grow:1;
			padding: 0 25px;
		}

		&__title-img{
			width: 270px;
			max-width: 100%;
		}

		&__intro{
			font-size: 14px;
			line-height: 24px;
		}

		&__container-img{
			width:percentage(263px/640px);
			border-radius: 0;
		}

		&__illu{
			min-height: 0;
		}
	}
}
@media #{$small}{
	.header{
		&__root{
			padding-top:42px;
		}

		&__content{
			padding: 0 10px;
		}

		&__intro{
			font-size: 13px;
			line-height: 20px;
			margin-top: 15px;
		}

		&__container-img{
			min-width: 116px;
		}
	}
}

.menu{
	&__root{
		margin-top:30px;

		&.show{


			.menu__burger{
				&-line1{
					transform: rotate(45deg);
					top:9px;
					transition:transform 0.3s 0.2s, top 0.2s;
				}

				&-line2{
					opacity: 0;
					transition:opacity 0.2s;
				}

				&-line3{
					transform: rotate(-45deg);
					top:-9px;
					transition:transform 0.3s 0.2s, top 0.2s;
				}
			}
		}
	}

	&__ul{
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	&__li{
		margin:0 5px;
	}

	&__a{
		padding:5px 8px 7px;
		font-family: $font-ars;
		font-size:17px;
		line-height: 20px;
		font-weight: 300;
		color:$color-main;
		display: block;
		text-decoration: none;
		position: relative;

		&.actif{
			font-size:19px;
			font-weight: 700;

			&::after{opacity:1;}
		}

		&::after{
			content:"";
			position: absolute;
			width: calc(100% - 16px);
			bottom:-3px;
			height: 3px;
			background-color: $color-main;
			left: 8px;
			transition:opacity 0.3s;
			opacity: 0;
		}

		@media #{$desktop}{
			&:hover{
				&::after{opacity:1;}
			}
		}
	}

	&__sim{
		display: none;
		cursor: pointer;
	}

	&__burger{
		width: 30px;

		&-line{
			background-color: $color-white;
			width: 28px;
			height:4px;
			display:block;
			margin:0 auto;
			border-radius: 4px;
			position: relative;
			top: 0;

			& + &{
				margin-top:5px;
			}
		}

		&-line1,
		&-line3{
			transition:transform 0.2s, top 0.2s 0.2s;
			transform-origin: center center;
		}

		&-line2{
			transition:opacity 0.2s 0.2s;
		}
	}
}
@media #{$notDesktop}{
	.menu{
		&__a{
			font-size:16px;

			&.actif{
				font-size:18px;
			}
		}
	}
}
@media #{$mobile}{
	.menu{
		&__root{
			margin-top:0;
			position: absolute;
			z-index: 1000;
			top: 0;
			left:0;
			width: 100%;
			background-color: rgba($color-main,0.88);

			&.fixed {
				position: fixed;
			}

			&.fixed-bottom {
				position: absolute;
				top: auto;
				bottom: 0;
			}
		}

		&__sim{
			display: flex;
			flex-direction: row-reverse;
			padding: 13px 0;
			align-items: center;

			svg{
				width: 30px;
				height: 22px;
			}
		}

		&__sim-name{
			color:$color-white;
			font-family: $font-ars;
			display: block;
			margin-right:25px;
			font-size:15px;
		}

		&__ul{
			display: none;
			padding-bottom: 15px;
		}

		&__li{
			margin:0;
		}

		&__a{
			color:$color-white;
			padding: 10px 55px 10px 0;
			font-size:18px;
			line-height: 20px;
			font-weight: 700;
			text-align: right;

			&.actif{
				display: none;
			}

			&::after{
				display: none;
			}
		}
	}
}
@media #{$small}{
	.menu{
		&__sim{
			padding: 10px 0;
		}
		&__sim-name{
			margin-right:15px;
		}

		&__a{
			padding: 10px 45px 10px 0;
			font-size:17px;
		}
	}
}

.content1{
	&__root{
		margin-top:120px;
		position: relative;
	}

	&__illu{
		display: block;
		max-width:80%;
		margin-left:-15px;
	}

	&__content{
		position: absolute;
		top:0;
		right:15px;
		width:430px;
		max-width: 64%;
	}

	&__bottom{
		text-align: right;
		margin-top:40px;
	}
}
@media #{$notDesktop}{
	.content1{
		&__root{
			margin-top:percentage(120px/1000px);
		}
	}
}
@media (max-width:750px){
	.content1{
		&__root{
			padding-top:50px;
		}
	}
}
@media #{$mobile}{
	.content1{
		&__root{
			margin-top:percentage(120px/640px);
			padding-top:0;
		}

		&__illu{
			max-width:100%;
			margin:0 auto;
		}

		&__content{
			position: relative;
			top:0;
			right:0;
			width:100%;
			max-width: none;
		}

		&__bottom{
			display: none;
		}
	}
}


.content2{
	&__root{
		margin-top:120px;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}

	&__illu{
		display: block;
		width:percentage(514px/1000px);
		flex-shrink: 0;
	}

	&__content{
		flex-grow: 1;
		margin-right:40px;
	}

	&__bottom{
		margin-top:40px;
	}
}
@media #{$notDesktop}{
	.content2{
		&__root{
			margin-top:percentage(120px/1000px);
		}
	}
}
@media #{$mobile}{
	.content2{
		&__root{
			margin-top:percentage(120px/640px);
			display: block;
		}

		&__illu{
			width: auto;
			max-width:100%;
			margin:0 auto;
		}

		&__content{
			width:100%;
			margin-right: 0;
			margin-top: 20px;
		}

		&__bottom{
			display: none;
		}
	}
}

.frise{
	&__root{
		margin-top:120px;
	}

	&__title{

	}

	&__itself{
		position: relative;
		max-width: 692px;
		margin:0 auto;

		&::before{
			content:"";
			position: absolute;
			height: 100%;
			width:200px;
			left:calc(50% - 100px);
			z-index: 0;
			background: #425b78;
			background: -webkit-linear-gradient(top, #425b78 0%,#95c9b9 100%);
			background: linear-gradient(to bottom, #425b78 0%,#95c9b9 100%);
		}
	}

	&__list{
		position: relative;
		z-index: 10;

		&::before{
			content:"";
			position:absolute;
			width:26px;
			height: 26px;
			border-radius: 50%;
			background-color: #425b78;
			top:-13px;
			left:calc(50% - 13px);
		}

		&::after{
			content:"";
			position:absolute;
			width:26px;
			height: 26px;
			border-radius: 50%;
			background-color: #95c9b9;
			bottom:-13px;
			left:calc(50% - 13px);
		}
	}

	&__item{
		padding-left:calc(50% + 13px);
		position: relative;

		&::before{
			content:"";
			position: absolute;
			height: 100%;
			left:0;
			top: 0;
			width:calc(50% - 13px);
			background-color: $color-white;
		}

		&--left{
			padding-left:0;
			padding-right:calc(50% + 13px);

			&::before{
				left:calc(50% + 13px)
			}

			.frise__col-content{
				padding-right:52px+15px;
				padding-left:0;
				text-align: right;
			}

			.frise__col-num{
				flex-direction: row-reverse;
			}

			.frise__container-img{
				padding-left: 0;
				padding-right:15px;
			}

			.frise__num{
				left:-3px;
			}
		}
	}

	&__space{
		height: 200px;
		transition:height 0.7s;
		position: relative;

		&::before,
		&::after{
			content:"";
			position: absolute;
			top:0;
			background-color: $color-white;
			height: 100%;
			width: calc(50% - 13px);
		}

		&::after{
			left: 0;
		}

		&::after{
			left: calc(50% + 13px);
		}

		&.resize{
			height: 0;
		}
	}

	&__col-num{
		display: flex;
		height: 50px;
	}

	&__num{
		color:$color-white;
		font-weight: 700;
		font-family: $font-ars;
		font-size:42px;
		line-height: 50px;
		width: 52px;
		text-align: right;
		left: 3px;
		top: 8px;
		position: relative;
	}

	&__container-img{
		background-color: $color-white;
		display: flex;
		align-items: center;
		padding-left:15px;
	}

	&__picto{
		display: block;
	}

	&__col-content{
		background-color: $color-white;
		padding-left:52px+15px;
		min-height: 90px;
	}

	&__name{
		color:$color-orange;
		text-transform: uppercase;
		font-family: $font-ars;
		font-size:15px;
		line-height: 18px;
		font-weight: 700;
		padding-top:8px;
	}

	&__text{
		font-size:13px;
		line-height: 18px;
		padding-top:8px;
	}
}
@media #{$notDesktop}{
	.frise{
		&__root{
			margin-top:percentage(120px/1000px);
		}
	}
}
@media #{$mobile}{
	.frise{
		&__root{
			margin-top:percentage(120px/640px);
		}

		&__title{
			margin-bottom:40px;
		}

		&__itself{
			margin-left: 3%;

			&::before{
				width:100px;
				left:0;
			}
		}

		&__space{
			&::before{
				width: calc(100% - 22px);
				left: 22px;
			}

			&::after{
				display: none;
			}
		}

		&__list{
			&::before{
				width:22px;
				height: 22px;
				top:-11px;
				left:0;
			}

			&::after{
				width:22px;
				height: 22px;
				bottom:-11px;
				left:0;
			}
		}

		&__item{
			padding-left:22px;

			&::before{
				width:0;
			}

			&--left{
				padding-right:0;
				padding-left:22px;

				&::before{
					left:0;
				}

				.frise__col-content{
					padding-right:0;
					padding-left:52px+15px;
					text-align: left;
				}

				.frise__col-num{
					flex-direction: row;
				}

				.frise__container-img{
					padding-left: 15px;
					padding-right:0;
				}
			}

			&:last-child{
				.frise__col-content{
					padding-bottom: 0 !important;
				}
			}
		}

		&__col-content{
			padding-bottom:50px;
		}

	}
}
@media #{$small}{
	.frise{
		&__item{
			&--left{
				.frise__container-img{
					padding-left: 10px;
				}
				.frise__col-content{
					padding-left: 52px;
				}
			}
		}

		&__col-num{
			display: flex;
			height: 40px;
		}

		&__num{
			font-size: 34px;
			line-height: 40px;
			width: 42px;
			left: 2px;
			top: 7px;
		}

		&__container-img{
			padding-left:10px;
		}

		&__picto{
			display: block;
			max-height: 40px !important;
			width: auto !important;
		}

		&__col-content{
			padding-bottom:40px;
			padding-left: 52px;
		}

		&__name{
			font-size:14px;
			line-height: 16px;
		}
	}
}

.metier{
	&__root{
		margin-top:120px;

		display: flex;
		align-items: center;
	}

	&__content{
		margin-right:40px;
		width:420px;
	}

	&__bottom{
		margin-top:40px;
	}

	&__container-img{
		flex-grow: 1;
	}

	&__illu{
		display: block;
		max-width: 100%;
	}
}
@media #{$notDesktop}{
	.metier{
		&__root{
			margin-top:percentage(120px/1000px);
		}
	}
}
@media #{$mobile}{
	.metier{
		&__root{
			margin-top:percentage(120px/640px);
		}

		&__content{
			margin-right:0;
		}

		&__bottom{
			display: none;
		}
	}
}

.bottom{
	&__root{
		padding:75px 0;
		background-color: #F5F5F5;
	}

	&__container-ilv{
		display: block;

		img{
			display: block;
			max-width: 100%;
		}
	}

	&__videos{
		margin-top:60px;
		display: flex;
		justify-content: space-between;
	}

	&__youtube{
		width: calc(50% - 20px);
	}
}
@media #{$mobile}{
	.bottom{
		&__videos{
			margin-top:50px;
			display: block;
		}

		&__youtube{
			max-width: 500px;
			width: 100%;
			margin: 0 auto;

			& + &{
				margin-top: 50px;
			}
		}
	}
}


.quote{
	&__root{
		margin:120px auto 0;
		text-align: center;
		max-width: 825px;
	}

	&__text{
		font-size:15px;
		line-height: 32px;
	}

	&__author{
		font-size:17px;
		line-height: 36px;
		font-style: italic;
		display: block;

		span{
			color:$color-orange;
		}

		&::before{
			display: block;
			content:"\0000A0";
		}
	}
}
@media #{$notDesktop}{
	.quote{
		&__root{
			margin-top:percentage(120px/1000px);
		}
	}
}
@media #{$mobile}{
	.quote{
		&__root{
			margin-top:percentage(120px/640px);
		}

		&__text{
			line-height: 30px;

			p + p::before{
				display: block;
				content:"\0000A0";
			}
		}

		&__author{
			font-size:16px;
			line-height: 30px;
		}
	}
}
@media #{$small}{
	.quote{
		&__text{
			font-size:14px;
			line-height: 24px;
		}

		&__author{
			font-size:15px;
			line-height: 24px;
		}
	}
}

.catalog{
	&__root{
		margin-top: 40px;
		position: relative;
		margin-bottom:100px;
	}

	&__illu{
		display: block;
		max-width: 100%;
	}

	&__btn{
		position: absolute;
		left: 50%;
		top:42%;
		text-align: center;
		white-space: nowrap;
		transform: translate(-50%, -50%);
		font-size: 21px;
		font-weight: 700;
		font-family: $font-ars;
		background-color: rgba($color-white, 0.82);
		border:1px solid rgba($color-white, 0.82);
		color:$color-main;
		transition:background-color 0.3s, color 0.3s;
		padding:20px 80px;
		display: inline-block;
		text-decoration: none;
		border-radius: 7px;

		@media #{$desktop}{
			&:hover{
				background-color: $color-white;
				color:$color-orange;
			}
		}
	}
}
@media #{$mobile}{
	.catalog{
		&__btn{
			font-size: 18px;
			padding:16px 40px;
			border-radius: 6px;
		}
	}
}
@media #{$small}{
	.catalog{
		&__btn{
			font-size: 15px;
			padding:14px 26px;
			border-radius: 5px;
		}
	}
}

.engage{
	&__root{
		max-width:930px;
		margin: 120px auto 0;
	}

	&__illu{
		display: block;
		margin:0 auto;
		max-width: 100%;
	}

	&__list{
		margin-top:50px;
		margin-left:-70px;
		display: flex;
	}

	&__item{
		width:calc(33.333% - 70px);
		margin-left:70px;
	}

	&__picto{
		display: block;
		margin-bottom:13px;
	}

	&__name{
		color:$color-orange;
		font-weight: 700;
		font-size:26px;
		line-height:28px;
		font-family: $font-ars;
	}

	&__text{
		font-size:13px;
		line-height:27px;
		margin-top: 10px;
	}

	&__bottom{
		margin-top:60px;
		text-align: center;
	}
}
@media #{$notDesktop}{
	.engage{
		&__root{
			margin-top:percentage(120px/1000px);
		}

		&__list{
			margin-left:-50px;
		}

		&__item{
			width:calc(33.333% - 50px);
			margin-left:50px;
		}
	}
}
@media #{$mobile}{
	.engage{
		&__root{
			margin-top:percentage(120px/640px);
		}

		&__list{
			margin-left:0;
			display: block;
		}

		&__item{
			width:100%;
			margin-left:0;

			& + &{
				margin-top:50px;
			}
		}

		&__picto{
			height: 40px;
			margin-bottom: 5px;
		}

		&__name{
			font-size: 23px;
			line-height: 30px;
		}

		&__text{
			font-size:13px;
			line-height:23px;
		}

		&__bottom{
			display: none;
		}
	}
}
@media #{$small}{
	.engage{
		&__picto{
			height: 34px;
		}

		&__item{
			& + &{
				margin-top:40px;
			}
		}

		&__name{
			font-size: 17px;
			line-height: 22px;
		}

		&__text{
			font-size: 13px;
			line-height: 20px;
		}
	}
}

.list{
	&__root{
		margin-top:120px;

		& + &{
			margin-top:65px;
			padding-bottom:100px;
		}
	}

	&__title{
		text-align: center;
		margin-bottom:20px;
	}

	&__list{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left:-18px;
	}

	&__item{
		margin-left:18px;
	}

	&__link{
		display: block;
	}

	&__logo{
		display: block;
		max-width: 100%;
	}

	&__bottom{
		margin-top:20px;
		display: flex;
		justify-content: center;
	}

	&__legal{
		font-size: 13px;

		& + &{
			margin-left:20px;
		}
	}
}
@media #{$notDesktop}{
	.list{
		&__root{
			margin-top:percentage(120px/1000px);
		}
	}
}
@media (max-width:800px){
	.list{
		&__bottom{
			margin-top:30px;
			display: block;
			text-align: center;
		}

		&__legal{
			& + &{
				margin-left:0;
				margin-top:10px;
			}
		}
	}
}
@media #{$mobile}{
	.list{
		&__root{
			margin-top:percentage(120px/640px);

			& + &{
				margin-top:65px;
				padding-bottom: 50px;
			}
		}

		&__title{
			text-align: left;
		}

		&__list{
			justify-content: flex-start;
			align-items: center;
			margin-left:-18px;
			flex-wrap:wrap;
			margin-bottom: -20px;
		}

		&__item{
			margin-bottom: 20px;
		}

		&__bottom{
			text-align: left;
		}

		&__legal{
			font-size: 12px;
		}
	}
}
@media #{$small}{
	.list{
		&__root{

			& + &{
				margin-top:50px;
				padding-bottom: 30px;
			}
		}

		&__list{
			// justify-content: center;
		}
	}
}

.popin{
	&__root{
		position: fixed;
		z-index: 100000;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		background-color: rgba($color-black, 0.4);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding:15px;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;

		&::before,
		&::after{
			content:"";
			flex-grow: 1;
		}

		&.open{
			opacity: 1;
			visibility: visible;

			.popin__container{
				top:0;
			}
		}

		&.closed{
			display: none;
		}
	}

	&__overlay{
		position: absolute;
		z-index: 0;
		width:100%;
		height:100%;
		left:0;
		top:0;
	}

	&__container{
		position: relative;
		z-index: 10;
		background-color: $color-white;
		box-shadow: 0 0 20px 3px rgba(0,0,0,0.2);
		padding: 15px 20px;
		width: 100%;
		max-width: 450px;
		border-radius: 5px;
		top: 100px;
		transition: top 0.3s 0.1s;
	}

	&__titre{
		color:$color-orange;
	}

	&__close{
		position: absolute;
		top: 2px;
		right: 2px;
		background: url("../images/close.svg") center center no-repeat;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
}

.poi{
	&__list{
		margin-top:25px;
	}

	&__item{
		border:1px solid $color-main;
		padding:10px 15px;
		border-radius: 3px;

		& + &{
			margin-top:20px;
		}
	}

	&__name{
		color:$color-main;
		font-size:22px;
		font-weight: 700;
	}

	&__address{
		font-size:16px;
		line-height: 22px;
		margin-top: 10px;
	}

	&__bottom{
		margin-top:10px;
	}
}

@media #{$mobile}{
	.popin{
		&__root{
			padding:15px 10px;
		}

		&__container{
			padding: 15px 15px;
		}
	}

	.poi{
		&__item{
			padding:8px 10px;
		}

		&__name{
			font-size:17px;
		}

		&__address{
			font-size:13px;
			line-height: 18px;
		}
	}
}